﻿@model TutionCloudWeb.Models.PostModel.Crossword.CrosswordArchives
@{
    ViewBag.Title = "CrosswordArchives";
    Layout = "~/Views/Shared/_Layout_Wordutopia_Home.cshtml";
}
@Html.HiddenFor(z => z.userId, new { Value = Model.userId })
@Html.HiddenFor(z => z.totalCrosswordCount, new { Value = Model.totalCrosswordCount })
<input type="hidden" id="hfn-index" value="0" />
<section class="favSecn">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12">
                <div class="headings">
                    <h6>Wordutopia - <span style="color: red;">Crossword Puzzle Archives</span></h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 cust_drpn ">
                <div class="newdrpn crswrd-drpn">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary " data-toggle="dropdown">Task Dropdown List <img src="~/Content/img/rightarrow.png" /></button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" style="cursor:pointer;" onclick="history.back()">Back</a>
                            <a class="dropdown-item" style="cursor:pointer;" id="resume-crossword">Resume Crossword</a>
                            <a class="dropdown-item crossword-all-delete" style="cursor:pointer;">Delete all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12">
                <div class="OutTab">
                    <div class=" crss_wrd-arc">
                        <div class="table-responsive Tble">
                            <table class="table table-hover newTable table-bordered">
                                <thead>
                                    <tr>
                                        <th class="tabhead">Select</th>
                                        <th class="tabhead">Date & Time of Tests </th>
                                        <th class="tabhead">Status</th>
                                        <th class="tabhead">Options</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody-crosswordlist">
                                    @{
                                        var postModel = new TutionCloudWeb.Models.PostModel.Crossword.CrosswordArchivesList();
                                        postModel.userId = Model.userId;
                                        postModel.index = 0;
                                        postModel.totalCrosswordCount = Model.totalCrosswordCount;
                                    }
                                    @Html.Partial("~/Views/Wordutopia/_pv_Crossword_Archieves_List.cshtml", postModel)
                                </tbody>
                            </table>

                        </div>

                        <div class="Indctor" id="div-page-count">
                            <p>Page 1 of @Convert.ToString(Math.Ceiling(Convert.ToDouble(Convert.ToDouble(Model.totalCrosswordCount) / Convert.ToDouble(10))))</p>
                        </div>
                        <div class="Pgntation">
                            <nav aria-label="Page navigation example" id="nav-pagination">
                                @*<ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>*@
                                @{
                                    var postModelPagination = new TutionCloudWeb.Models.PostModel.Crossword.CrosswordArchivesListPagination();
                                    postModelPagination.userId = Model.userId;
                                    postModelPagination.index = 1;
                                    postModelPagination.totalCrosswordCount = Model.totalCrosswordCount;
                                }
                                @Html.Partial("~/Views/Wordutopia/_pv_Crossword_Archieves_List_Pagination.cshtml", postModelPagination)
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 ">
            </div>
        </div>
        <div class="lowerNav">
            <nav class="navbar navbar-expand-sm  justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="https://en.wikipedia.org/wiki/Main.page" target="_blank">Wikipedia</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.xnumber.com/xnumber/windows_calc.htm" target="_blank">Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.google.com/maps/" target="_blank">Maps</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.xe.com/currencyconverter/" target="_blank">Currency Converter</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.timeanddate.com/worldclock/full.html" target="_blank">World Clocks</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://translate.google.com" target="_blank">Translator</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>



<script>

    $(document).ready(function () {
        $(document).find('.spn-utcdate').each(function () {
            try {
                var date = $(this).attr('data-utctime');
                //var serverDate = moment.utc(date).local().format('MMMM DD.YYYY');
                var serverDate = moment.utc(date).local().format('DD/MM/YYYY');
                var serverTime = moment.utc(date).local().format('hh:mm A');
                console.log(serverDate);
                console.log(serverTime);
                //console.log(moment.utc(date).local().format("YYYY-MM-DD HH:mm:ss"));
                $(this).parent().find('.spn-date').text(serverDate);
                $(this).parent().find('.spn-time').text(serverTime);
            }
            catch (ex) {
                console.warn("Error converting date time", ex);
            }
        });
    });


    var crosswordList = [];




    $(document).on('click', '.ckb-word-item', function () {
        var crosswordid = $(this).attr('data-crosswordid');
        if ($(this).prop("checked") == true) {
            crosswordList.push(crosswordid);
            //$('#selected-item-count').text(" " + parseInt(parseInt($('#selected-item-count').text()) + parseInt(1)));
        }
        else {
            crosswordList.splice($.inArray(crosswordid, crosswordList), 1);
            //$('#selected-item-count').text(" " + parseInt(parseInt($('#selected-item-count').text()) - parseInt(1)));
        }
        //console.log(wordList);
    });


    $(document).on('click', '#resume-crossword', function () {
        //debugger;
        if (crosswordList.length > 0) {
            if (crosswordList.length == 1) {
                var obj = new Object();
                obj.isNew = false;
                obj.RandomCrossword = false;
                obj.crosswordId = $('.td-' + crosswordList.join(',')).attr('data-crosswordid');
                obj.wordList = $('.td-' + crosswordList.join(',')).attr('data-wordlist');
                obj.completeStatus = $('.td-' + crosswordList.join(',')).attr('data-completestatus');
                window.location.href = "/Wordutopia/Crossword/" + btoa(JSON.stringify(obj));
            }
            else {
                toastrError('Please select only one crossword')
            }
        }
        else {
            toastrError('Please select a crossword')
        }
    });








    $(document).on('click', '.crossword-delete', function () {
        var source = $(this);
        var crosswordId = $(this).attr('data-crosswordid');

        swal({
            title: "Are you sure?",
            text: "Permanently delete this crossword from your database?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#004b8d",
            confirmButtonText: "Yes, delete!",
            closeOnConfirm: true
        },
     function (isConfirm) {
         if (isConfirm) {
             $.ajax({
                 url: '/Wordutopia/deleteCrossword/' + crosswordId,
                 type: "GET",
                 dataType: 'JSON',
                 success: function (data) {
                     if (data.status) {
                         toastrSuccess("Crossword deleted");

                         $('#totalCrosswordCount').val(parseInt($('#totalCrosswordCount').val() - 1));

                         var islasttr = $(document).find('.tr-word-row');
                         if (islasttr.length <= 1) {
                             if (parseInt($('#hfn-index').val()) != 0)
                                 $('#hfn-index').val(parseInt($('#hfn-index').val()) - 1)
                         }


                         var obj = new Object();
                         obj.userId = $('#userId').val();
                         obj.totalCrosswordCount = $('#totalCrosswordCount').val();
                         obj.index = parseInt($('#hfn-index').val());
                         $.ajax({
                             url: '/Wordutopia/refreshUserCrosswordList',
                             type: "POST",
                             data: obj,
                             dataType: 'html',
                             success: function (data) {
                                 $('#tbody-crosswordlist').html(data);





                                 $(document).find('.spn-utcdate').each(function () {
                                     try {
                                         var date = $(this).attr('data-utctime');
                                         //var serverDate = moment.utc(date).local().format('MMMM DD.YYYY');
                                         var serverDate = moment.utc(date).local().format('DD/MM/YYYY');
                                         var serverTime = moment.utc(date).local().format('hh:mm A');
                                         //console.log(serverDate);
                                         //console.log(serverTime);
                                         //console.log(moment.utc(date).local().format("YYYY-MM-DD HH:mm:ss"));
                                         $(this).parent().find('.spn-date').text(serverDate);
                                         $(this).parent().find('.spn-time').text(serverTime);
                                     }
                                     catch (ex) {
                                         console.warn("Error converting date time", ex);
                                     }
                                 });








                                 //$('#wordlist-pagination').data("current", page);
                                 var obj1 = new Object();
                                 obj1.userId = $('#userId').val();
                                 obj1.totalCrosswordCount = $('#totalCrosswordCount').val();
                                 obj1.index = parseInt(parseInt($('#hfn-index').val()) + 1);
                                 $.ajax({
                                     url: '/Wordutopia/refreshUserCrosswordListPagination',
                                     type: "POST",
                                     data: obj1,
                                     dataType: 'html',
                                     success: function (data) {
                                         $('#nav-pagination').html(data);
                                         $('#div-page-count').html('<p>Page ' + parseInt(parseInt($('#hfn-index').val()) + 1) + ' of ' + Math.ceil(parseFloat($('#totalCrosswordCount').val()) / parseFloat(10)) + '</p>')
                                         //Convert.ToString(Math.Ceiling(Convert.ToDouble(Convert.ToDouble(totalWordCount) / Convert.ToDouble(10))))</p>')
                                     }
                                 });
                             }
                         });

                     }
                     else {
                         toastrError(data.message);
                     }
                 }
             });
         }
     });
    });



    $(document).on('click', '.crossword-all-delete', function () {
        var source = $(this);

        var totalCrosswordCount = parseInt($('#totalCrosswordCount').val());
        if (totalCrosswordCount > 0) {

            swal({
                title: "Are you sure?",
                text: "Permanently delete all crosswords from your database?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004b8d",
                confirmButtonText: "Yes, delete!",
                closeOnConfirm: true
            },
         function (isConfirm) {
             if (isConfirm) {
                 $.ajax({
                     url: '/Wordutopia/deleteAllCrossword/' + $('#userId').val(),
                     type: "GET",
                     dataType: 'JSON',
                     success: function (data) {
                         if (data.status) {
                             toastrSuccess("Crosswords deleted");
                             setTimeout(function () {
                                 location.reload();
                             }, 350);

                         }
                         else {
                             toastrError(data.message);
                         }
                     }
                 });
             }
         });
        }

    });






</script>