﻿@model TutionCloudWeb.Models.PostModel.Word.WordClass
@{
    ViewBag.Title = "GenerateCrossword";
    Layout = "~/Views/Shared/_Layout_Wordutopia_Home.cshtml";
    var totalWordCount = Model.totalWordCount;
    //byte[] byt = System.Text.Encoding.UTF8.GetBytes("00");
    //var strModified = Convert.ToBase64String(byt);
    dynamic MyDynamic = new System.Dynamic.ExpandoObject();
    MyDynamic.isNew = true;
    MyDynamic.RandomCrossword = true;
    MyDynamic.crosswordId = Convert.ToInt64(0);
    MyDynamic.wordList = "";
    MyDynamic.completeStatus = false;
    var json = Newtonsoft.Json.JsonConvert.SerializeObject(MyDynamic);
    byte[] byt = System.Text.Encoding.UTF8.GetBytes(json);
    //byte[] byt = System.Text.Encoding.UTF8.GetBytes("00");
    var strModified = Convert.ToBase64String(byt);

}
@Html.HiddenFor(z => z.userId, new { Value = Model.userId })
@Html.HiddenFor(z => z.totalWordCount, new { Value = Model.totalWordCount })
<input type="hidden" id="hfn-index" value="0" />
<input type="hidden" id="hfn-sortby" value="" />
<input type="hidden" id="hfn-sortorder" value="" />




<section class="favSecn">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="headings">
                    <h6>Wordutopia - <span style="color: red;">Crossword Puzzle</span></h6>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 ">
                <div class="form-group Srch1  ">
                    <label for="Name">Search By Word Name:</label>
                    <div class="Srchbx">
                        <input type="text" class="form-control" id="ipt-word-search">
                        <button style="cursor:pointer;" id="btn-search-word">SEARCH</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 ">
                <div class="newdrpn crswrd-drpn">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary " data-toggle="dropdown">Task Dropdown List <img src="~/Content/img/rightarrow.png" /></button>
                        <div class="dropdown-menu">
                            <a style="cursor:pointer;" class="dropdown-item" onclick="history.back()">Back</a>
                            <a style="cursor:pointer;" class="dropdown-item" id="begin-crossword">Begin Crossword</a>
                            <a style="cursor:pointer;" class="dropdown-item" href="/Wordutopia/Crossword/@strModified">Create a random Crossword</a>
                            <a style="cursor:pointer;" class="dropdown-item" href="#">Crossword Archives </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12">
                <div class="OutTab">
                    <div class="Table cross-Wrd">
                        <div class="table-responsive Tble">
                            <table class="table table-hover newTable table-bordered">
                                <thead>
                                    <tr>
                                        <th class="tabhead">Select</th>
                                        <th class="tabhead">Words <div class="Ryt"> <span class="uppsort" id="word-desc"></span><span id="word-asc" class="downsort"></span></div></th>
                                        <th class="tabhead"> Overall % Score <div class="Ryt"> <span id="score-desc" class="uppsort"></span><span id="score-asc" class="downsort"></span></div></th>
                                        <th class="tabhead">Options</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody-wordlist">
                                    @{
                                        var postModel = new TutionCloudWeb.Models.PostModel.Word.WordList();
                                        postModel.userId = Model.userId;
                                        postModel.index = 0;
                                        postModel.totalWordCount = totalWordCount;
                                        postModel.searchText = string.Empty;
                                        postModel.sortBy = string.Empty;
                                        postModel.sortOrder = string.Empty;
                                    }
                                    @Html.Partial("~/Views/Wordutopia/_pv_Wordutopia_GenrateCrossword_Word_List.cshtml", postModel)
                                </tbody>
                            </table>

                        </div>

                        <div class="Indctor" id="div-page-count">
                            <p>Page 1 of @Convert.ToString(Math.Ceiling(Convert.ToDouble(Convert.ToDouble(totalWordCount) / Convert.ToDouble(10))))</p>
                        </div>
                        <div class="Pgntation">
                            <nav aria-label="Page navigation example">
                                @*<ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>*@
                                @{
                                    var postModelPagination = new TutionCloudWeb.Models.PostModel.Word.WordListPagination();
                                    postModelPagination.userId = Model.userId;
                                    postModelPagination.index = 1;
                                    postModelPagination.totalWordCount = totalWordCount;
                                    postModelPagination.searchText = string.Empty;
                                    postModelPagination.sortBy = string.Empty;
                                    postModelPagination.sortOrder = string.Empty;
                                }
                                @Html.Partial("~/Views/Wordutopia/_pv_Wordutopia_GenerateCrossword_Word_List_Pagination.cshtml", postModelPagination)
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 col-sm-12">



                <div class="outAccordtn fav_out">
                    <div id="accordion">
                        <div class="card">
                            <div class="accordhead">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Database Word
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body" id="div-databaseword">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="accordhead">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Pronounced
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body" id="div-Pronounced">
                                   
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="accordhead">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Show Phrase
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body" id="div-Phrase">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="accordhead">
                                <div class="card-header" id="headingfour">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
                                            Show Hint
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapsefour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body" id="div-Hint">
                                  
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="accordhead">
                                <div class="card-header" id="headingfive">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
                                            Show Definition
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapsefive" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body lastAccord" id="div-Definition">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="lowerNav">
            <nav class="navbar navbar-expand-sm  justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="https://en.wikipedia.org/wiki/Main.page" target="_blank">Wikipedia</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.xnumber.com/xnumber/windows_calc.htm" target="_blank">Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.google.com/maps/" target="_blank">Maps</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.xe.com/currencyconverter/" target="_blank">Currency Converter</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.timeanddate.com/worldclock/full.html" target="_blank">World Clocks</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://translate.google.com" target="_blank">Translator</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>




<script>
    //toastrError(data.message);
    $(document).on('click', '.tr-word-row', function () {
        var source = $(this);
        var word = $(source).attr('data-word');
        var pronounciation = $(source).attr('data-pronounciation');
        var phrase = $(source).attr('data-phrase');
        var hint = $(source).attr('data-hint');
        var definition = $(source).attr('data-definition');

        $('#div-databaseword').html(word);
        $('#div-Pronounced').html(pronounciation);
        $('#div-Phrase').html(phrase);
        $('#div-Hint').html(hint);
        $('#div-Definition').html(definition);
    });



    $(document).ready(function () {
        var tr = $(document).find('.tr-word-row').first();

        if (tr.length > 0) {
            var word = $(tr).attr('data-word');
            var pronounciation = $(tr).attr('data-pronounciation');
            var phrase = $(tr).attr('data-phrase');
            var hint = $(tr).attr('data-hint');
            var definition = $(tr).attr('data-definition');
            $('#div-databaseword').html(word);
            $('#div-Pronounced').html(pronounciation);
            $('#div-Phrase').html(phrase);
            $('#div-Hint').html(hint);
            $('#div-Definition').html(definition);
        }


    });
    var wordList = [];




    $(document).on('click', '.ckb-word-item', function () {
        var wordId = $(this).attr('data-wordid');
        if ($(this).prop("checked") == true) {
            wordList.push(wordId);
            //$('#selected-item-count').text(" " + parseInt(parseInt($('#selected-item-count').text()) + parseInt(1)));
        }
        else {
            wordList.splice($.inArray(wordId, wordList), 1);
            //$('#selected-item-count').text(" " + parseInt(parseInt($('#selected-item-count').text()) - parseInt(1)));
        }
        //console.log(wordList);
    });


</script>

<script>

    $(document).on('click', '.word-delete', function () {
        var source = $(this);
        var wordId = $(this).attr('data-wordid');

        swal({
            title: "Are you sure?",
            text: "You are about to delete this word!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#004b8d",
            confirmButtonText: "Yes, delete!",
            closeOnConfirm: true
        },
     function (isConfirm) {
         if (isConfirm) {
             $.ajax({
                 url: '/Wordutopia/deletWord?wordId=' + wordId,
                 type: "GET",
                 dataType: 'JSON',
                 success: function (data) {
                     if (data.status) {
                         toastrSuccess("Word deleted");

                         $('#totalWordCount').val(parseInt($('#totalWordCount').val() - 1));

                         var islasttr = $(document).find('.tr-word-row');
                         if (islasttr.length <= 1) {
                             if (parseInt($('#hfn-index').val()) != 0)
                                 $('#hfn-index').val(parseInt($('#hfn-index').val()) - 1)
                         }


                         var obj = new Object();
                         obj.userId = $('#userId').val();
                         obj.totalWordCount = $('#totalWordCount').val();
                         obj.index = parseInt($('#hfn-index').val());
                         obj.searchText = $('#ipt-word-search').val();
                         obj.sortBy = $('#hfn-sortby').val();
                         obj.sortOrder = $('#hfn-sortorder').val();
                         $.ajax({
                             url: '/Wordutopia/refreshGenerateCrosswordUserWordList',
                             type: "POST",
                             data: obj,
                             dataType: 'html',
                             success: function (data) {
                                 $('#tbody-wordlist').html(data);
                                 var tr = $(document).find('.tr-word-row').first();
                                 if (tr.length > 0) {
                                     var word = $(tr).attr('data-word');
                                     var pronounciation = $(tr).attr('data-pronounciation');
                                     var phrase = $(tr).attr('data-phrase');
                                     var hint = $(tr).attr('data-hint');
                                     var definition = $(tr).attr('data-definition');
                                     $('#div-databaseword').html(word);
                                     $('#div-Pronounced').html(pronounciation);
                                     $('#div-Phrase').html(phrase);
                                     $('#div-Hint').html(hint);
                                     $('#div-Definition').html(definition);
                                 }
                                 //$('#wordlist-pagination').data("current", page);
                                 var obj1 = new Object();
                                 obj1.userId = $('#userId').val();
                                 obj1.totalWordCount = $('#totalWordCount').val();
                                 obj1.index = parseInt(parseInt($('#hfn-index').val()) + 1);
                                 obj1.searchText = $('#ipt-word-search').val();
                                 obj1.sortBy = $('#hfn-sortby').val();
                                 obj1.sortOrder = $('#hfn-sortorder').val();
                                 $.ajax({
                                     url: '/Wordutopia/refreshGenerateCrosswordUserWordListPagination',
                                     type: "POST",
                                     data: obj1,
                                     dataType: 'html',
                                     success: function (data) {
                                         $('#nav-pagination').html(data);
                                         $('#div-page-count').html('<p>Page ' + parseInt(parseInt($('#hfn-index').val()) + 1) + ' of ' + Math.ceil(parseFloat($('#totalWordCount').val()) / parseFloat(10)) + '</p>')
                                         //Convert.ToString(Math.Ceiling(Convert.ToDouble(Convert.ToDouble(totalWordCount) / Convert.ToDouble(10))))</p>')
                                     }
                                 });
                             }
                         });

                     }
                     else {
                         toastrError(data.message);
                     }
                 }
             });
         }
     });
    });


</script>


<script>
    $(document).on('click', '#btn-search-word', function () {
        var searchText = $('#ipt-word-search').val();
        $.ajax({
            url: '/Wordutopia/WordCount?userId=' + parseInt($('#userId').val()) + '&searchText=' + searchText,
            type: "GET",
            dataType: 'JSON',
            success: function (data) {
                $('#totalWordCount').val(data);
                var obj = new Object();
                obj.userId = $('#userId').val();
                obj.totalWordCount = $('#totalWordCount').val();
                obj.index = parseInt($('#hfn-index').val());
                obj.searchText = searchText;
                obj.sortBy = $('#hfn-sortby').val();
                obj.sortOrder = $('#hfn-sortorder').val();
                $.ajax({
                    url: '/Wordutopia/refreshGenerateCrosswordUserWordList',
                    type: "POST",
                    data: obj,
                    dataType: 'html',
                    success: function (data) {
                        $('#tbody-wordlist').html(data);
                        var tr = $(document).find('.tr-word-row').first();
                        if (tr.length > 0) {
                            var word = $(tr).attr('data-word');
                            var pronounciation = $(tr).attr('data-pronounciation');
                            var phrase = $(tr).attr('data-phrase');
                            var hint = $(tr).attr('data-hint');
                            var definition = $(tr).attr('data-definition');
                            $('#div-databaseword').html(word);
                            $('#div-Pronounced').html(pronounciation);
                            $('#div-Phrase').html(phrase);
                            $('#div-Hint').html(hint);
                            $('#div-Definition').html(definition);
                        }
                        //$('#wordlist-pagination').data("current", page);
                        var obj1 = new Object();
                        obj1.userId = $('#userId').val();
                        obj1.totalWordCount = $('#totalWordCount').val();
                        obj1.index = parseInt(parseInt($('#hfn-index').val()) + 1);
                        obj1.searchText = $('#ipt-word-search').val();
                        obj1.sortBy = $('#hfn-sortby').val();
                        obj1.sortOrder = $('#hfn-sortorder').val();
                        $.ajax({
                            url: '/Wordutopia/refreshGenerateCrosswordUserWordListPagination',
                            type: "POST",
                            data: obj1,
                            dataType: 'html',
                            success: function (data) {
                                $('#nav-pagination').html(data);
                                $('#div-page-count').html('<p>Page ' + parseInt(parseInt($('#hfn-index').val()) + 1) + ' of ' + Math.ceil(parseFloat($('#totalWordCount').val()) / parseFloat(10)) + '</p>')
                                //$('#div-page-count').html('<p>Page ' + parseInt(parseInt($('#hfn-index').val()) + 1) + ' of Convert.ToString(Math.Ceiling(Convert.ToDouble(Convert.ToDouble(totalWordCount) / Convert.ToDouble(10))))</p>')
                            }
                        });
                    }
                });
            }
        });
    });
</script>

<script>
    function sortList() {
        $('#hfn-index').val(0);
        var obj = new Object();
        obj.userId = $('#userId').val();
        obj.totalWordCount = $('#totalWordCount').val();
        obj.index = parseInt($('#hfn-index').val());
        obj.searchText = $('#ipt-word-search').val();
        obj.sortBy = $('#hfn-sortby').val();
        obj.sortOrder = $('#hfn-sortorder').val();
        $.ajax({
            url: '/Wordutopia/refreshUserWordList',
            type: "POST",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#tbody-wordlist').html(data);
                var tr = $(document).find('.tr-word-row').first();
                if (tr.length > 0) {
                    var word = $(tr).attr('data-word');
                    var pronounciation = $(tr).attr('data-pronounciation');
                    var phrase = $(tr).attr('data-phrase');
                    var hint = $(tr).attr('data-hint');
                    var definition = $(tr).attr('data-definition');
                    $('#div-databaseword').html(word);
                    $('#div-Pronounced').html(pronounciation);
                    $('#div-Phrase').html(phrase);
                    $('#div-Hint').html(hint);
                    $('#div-Definition').html(definition);
                }
                //$('#wordlist-pagination').data("current", page);
                var obj1 = new Object();
                obj1.userId = $('#userId').val();
                obj1.totalWordCount = $('#totalWordCount').val();
                obj1.index = parseInt(parseInt($('#hfn-index').val()) + 1);
                obj1.searchText = $('#ipt-word-search').val();
                obj1.sortBy = $('#hfn-sortby').val();
                obj1.sortOrder = $('#hfn-sortorder').val();
                $.ajax({
                    url: '/Wordutopia/refreshUserWordListPagination',
                    type: "POST",
                    data: obj1,
                    dataType: 'html',
                    success: function (data) {
                        $('#nav-pagination').html(data);
                        $('#div-page-count').html('<p>Page ' + parseInt(parseInt($('#hfn-index').val()) + 1) + ' of ' + Math.ceil(parseFloat($('#totalWordCount').val()) / parseFloat(10)) + '</p>')
                        //Convert.ToString(Math.Ceiling(Convert.ToDouble(Convert.ToDouble(totalWordCount) / Convert.ToDouble(10))))</p>')
                    }
                });
            }
        });
    }


    $(document).on('click', '#word-asc', function () {
        $('#hfn-sortby').val('WORD');
        $('#hfn-sortorder').val('ASC');
        sortList();
        $(this).css('opacity', '1');
        $('#word-desc').css('opacity', '.3');
    });

    $(document).on('click', '#word-desc', function () {
        $('#hfn-sortby').val('WORD');
        $('#hfn-sortorder').val('DESC');
        sortList();
        $(this).css('opacity', '1');
        $('#word-asc').css('opacity', '.3');
    });

    $(document).on('click', '#score-asc', function () {
        $('#hfn-sortby').val('SCORE');
        $('#hfn-sortorder').val('ASC');
        sortList();
        $(this).css('opacity', '1');
        $('#score-desc').css('opacity', '.3');
    });

    $(document).on('click', '#score-desc', function () {
        $('#hfn-sortby').val('SCORE');
        $('#hfn-sortorder').val('DESC');
        sortList();
        $(this).css('opacity', '1');
        $('#score-asc').css('opacity', '.3');
    });


</script>

<script>

    $(document).on('click', '#begin-crossword', function () {
        var cbkStatus = false;
        var wordIds = "";
        var count = 0;
        if (wordList.length <= 0) {
            toastrError('Please select words');
        }
        else {
            //window.location.href = "/Wordutopia/Crossword/" + btoa()
            var obj = new Object();
            obj.isNew = true;
            obj.RandomCrossword = false;
            obj.crosswordId = parseInt(0);
            obj.wordList = wordList.join(',');
            obj.completeStatus = false;
            window.location.href = "/Wordutopia/Crossword/" + btoa(JSON.stringify(obj));
        }
    });

</script>




