﻿@{
    Layout = "~/Views/Shared/_Layout_Wordutopia_Home.cshtml";
}


<section>
    <div class="container">

        <div class="tstsec2" style="padding:25px 0;">
            <h5 class="text-left" style="border-bottom: 1px solid #dddddd85; padding: 0 0 10px;"> Note Description</h5>
        </div>

        <div class="createNotes-div">
            <div class="form-group">
                <div class="row offset-lg-2 link">
                    <a href="#">Return to main list of Notes</a>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <label class="text-right">Title</label>
                    </div>
                    <div class="col-lg-9 col-md-8">
                        <p class="stly">Note Title</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <label class="text-right">Description</label>
                    </div>
                    <div class="col-lg-9 col-md-8">
                        <p class="descrp stly">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non tortor ac leo vestibulum consequat. Phasellus nec hendrerit lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ultricies magna vel justo fringilla, sit amet maximus lorem consequat. Etiam congue accumsan nisi. In fringilla vel sem eget condimentum. Nulla orci urna, bibendum vitae mauris sit amet, hendrerit ultricies arcu. Mauris lacus purus, tempor a ante eu, mollis consequat ante. Nullam at lobortis diam, non pellentesque tortor. Maecenas et massa nec metus scelerisque iaculis sed et augue. In cursus purus mi, varius feugiat ante ornare ac. Donec sagittis neque dapibus urna mollis, eu hendrerit urna cursus.

                            Nulla gravida efficitur est, vel euismod diam ornare eget. Duis nec est pharetra, condimentum diam ac, rhoncus purus. Vivamus sit amet pellentesque ligula, eget eleifend justo. Phasellus sagittis, diam nec vehicula sollicitudin, augue magna placerat nisi, vitae porta ex ligula vel mauris. Cras fringilla leo mauris, quis mattis justo accumsan et. Nunc eu velit vel ex consectetur aliquam in ut elit. Praesent sodales sed orci ut bibendum. In non quam et sem facilisis blandit nec in est. Suspendisse euismod sit amet est eu cursus. Aliquam erat volutpat. Vestibulum sed metus facilisis, consectetur nibh nec, cursus metus. Duis ac rutrum ligula, at finibus orci.

                            Vestibulum rutrum odio eu eros porta ultrices. Fusce ut eleifend erat, eget tempus mauris. Cras lacinia luctus eleifend. Etiam venenatis blandit mi, sit amet viverra arcu faucibus sit amet. In hac habitasse platea dictumst. Sed hendrerit faucibus odio. Sed vestibulum orci sit amet feugiat cursus. Nunc quis dapibus mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent quis dolor eget lacus pulvinar fringilla bibendum in sem. Ut maximus et orci eget dignissim. Ut suscipit accumsan erat, id dictum justo auctor id. Cras eget vulputate sem. Vivamus ut consectetur mi. Nulla posuere feugiat velit ac ultrices. In hac habitasse platea dictumst
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lowerNav">
            <nav class="navbar navbar-expand-sm  justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="https://en.wikipedia.org/wiki/Main.page" target="_blank">Wikipedia</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.xnumber.com/xnumber/windows_calc.htm" target="_blank">Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.google.com/maps/" target="_blank">Maps</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.xe.com/currencyconverter/" target="_blank">Currency Converter</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.timeanddate.com/worldclock/full.html" target="_blank">World Clocks</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://translate.google.com" target="_blank">Translator</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</section>

