﻿@model TutionCloudWeb.Models.PostModel.Note.NoteDescription
@{
    ViewBag.Title = "NoteDescription";
    Layout = "~/Views/Shared/_Layout_Wordutopia_Home.cshtml";
    var notedetails = new TutionCloudWeb.Models.DataClass.WebService().getNotedetails(Model.Noteid).FirstOrDefault();
       
}

<section>
    <div class="container">

        <div class="tstsec2" style="padding:25px 0;">
            <h5 class="text-left" style="border-bottom: 1px solid #dddddd85; padding: 0 0 10px;"> Note Description</h5>
        </div>

        <div class="createNotes-div">
            <div class="form-group">
                <div class="row offset-lg-2 link">
                    <a href="/Wordutopia/Notes">Return to main list of Notes</a>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <label class="text-right">Title</label>
                    </div>
                    <div class="col-lg-9 col-md-8">
                        @if(notedetails == null)
                        {
                             <p class="stly"></p>
                        }
                        else
                        { 
                        <p class="stly">@notedetails.TITLE</p>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <label class="text-right">Description</label>
                    </div>
                    <div class="col-lg-9 col-md-8">
                        @if (notedetails == null)
                        {
                              <p class="descrp stly">
                          
                        </p>
                        }
                        else
                        {
                        <p class="descrp stly">
                            @notedetails.DETAILS
                        </p>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="lowerNav">
            <nav class="navbar navbar-expand-sm  justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="https://en.wikipedia.org/wiki/Main.page" target="_blank">Wikipedia</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.xnumber.com/xnumber/windows_calc.htm" target="_blank">Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.google.com/maps/" target="_blank">Maps</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.xe.com/currencyconverter/" target="_blank">Currency Converter</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.timeanddate.com/worldclock/full.html" target="_blank">World Clocks</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://translate.google.com" target="_blank">Translator</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</section>

