﻿@model TutionCloudWeb.Models.PostModel.Exam.TestArchives
@{
    ViewBag.Title = "TestArchives";
    Layout = "~/Views/Shared/_Layout_Wordutopia_Home.cshtml";
}
@Html.HiddenFor(z => z.userId, new { Value = Model.userId })
@Html.HiddenFor(z => z.totalTestCount, new { Value = Model.totalTestCount })
<input type="hidden" id="hfn-index" value="0" />

<section class="">
    <div class="container">
        <div class="ShareHead tstHead">
            <div class="row">
                <div class="col-lg-9 col-md-6 col-sm-12 ">
                    <div class="shareList heading-tset">
                        <h6>Test  Archives</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mother-drp ">
                    <div class="newdrpn drpn-Arch">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary " data-toggle="dropdown">Task Dropdown List <img src="~/Content/img/rightarrow.png" /></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" style="cursor:pointer;" onclick="history.back()">Back</a>
                                <a style="cursor:pointer;" class="dropdown-item" id="SelectAll">Select All</a>
                                <a class="dropdown-item" style="cursor:pointer;" href="#">View Selected Test Archived Note </a>
                                <a class="dropdown-item" style="cursor:pointer;" href="#">View All Shared Test</a>
                                <a class="dropdown-item delete-selected-test" style="cursor:pointer;">Delete Selected Archived Test </a>
                                <a class="dropdown-item test-all-delete" style="cursor:pointer;">Delete All Archived Test </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 ">
                <div class="tst-Archive">
                    <div class="OutTab ">
                        <div class="Table">
                            @*<p>Average Score to date : 87%</p>*@
                            <div class="table-responsive Tble">
                                <table class="table table-hover newTable table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="tabhead">Select</th>
                                            <th class="tabhead">Date & Time of Tests</th>
                                            <th class="tabhead">Scored</th>
                                            <th class="tabhead">Test Type</th>
                                            <th class="tabhead">Options</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody-testlist">
                                        @{
                                            var postModel = new TutionCloudWeb.Models.PostModel.Exam.TestArchivesList();
                                            postModel.userId = Model.userId;
                                            postModel.index = 0;
                                            postModel.totalTestCount = Model.totalTestCount;
                                        }
                                        @Html.Partial("~/Views/Wordutopia/_pv_Test_Archives_List.cshtml", postModel)
                                    </tbody>
                                </table>
                            </div>

                            <div class="Indctor" id="div-page-count">
                                <p>Page 1 of @Convert.ToString(Math.Ceiling(Convert.ToDouble(Convert.ToDouble(Model.totalTestCount) / Convert.ToDouble(10))))</p>
                            </div>
                            <div class="Pgntation">
                                <nav aria-label="Page navigation example" id="nav-pagination">
                                    @*<ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                        </ul>*@

                                    @{
                                        var postModelPagination = new TutionCloudWeb.Models.PostModel.Exam.TestArchivesListPagination();
                                        postModelPagination.userId = Model.userId;
                                        postModelPagination.index = 1;
                                        postModelPagination.totalTestCount = Model.totalTestCount;
                                    }
                                    @Html.Partial("~/Views/Wordutopia/_pv_Test_Archives_List_Pagination.cshtml", postModelPagination)

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
        <div class="lowerNav">
            <nav class="navbar navbar-expand-sm  justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="https://en.wikipedia.org/wiki/Main.page" target="_blank">Wikipedia</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.xnumber.com/xnumber/windows_calc.htm" target="_blank">Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.google.com/maps/" target="_blank">Maps</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.xe.com/currencyconverter/" target="_blank">Currency Converter</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.timeanddate.com/worldclock/full.html" target="_blank">World Clocks</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://translate.google.com" target="_blank">Translator</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $(document).find('.spn-utcdate').each(function () {
            try {
                var date = $(this).attr('data-utctime');
                //var serverDate = moment.utc(date).local().format('MMMM DD.YYYY');
                var serverDate = moment.utc(date).local().format('DD/MM/YY');
                var serverTime = moment.utc(date).local().format('hh:mm a');
                console.log(serverDate);
                console.log(serverTime);
                //console.log(moment.utc(date).local().format("YYYY-MM-DD HH:mm:ss"));
                $(this).parent().find('.spn-date').text(serverDate);
                $(this).parent().find('.spn-time').text(serverTime);
            }
            catch (ex) {
                console.warn("Error converting date time", ex);
            }
        });
    });


    var testList = [];
</script>


<script>
    $(document).on('click', '.test-delete', function () {
        var source = $(this);
        var testId = $(this).attr('data-testid');

        swal({
            title: "Are you sure?",
            text: "Permanently delete this test from your database?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#004b8d",
            confirmButtonText: "Yes, delete!",
            closeOnConfirm: true
        },
     function (isConfirm) {
         if (isConfirm) {
             $.ajax({
                 url: '/Wordutopia/deleteTest/' + testId,
                 type: "GET",
                 dataType: 'JSON',
                 success: function (data) {
                     if (data.status) {
                         toastrSuccess("Test deleted");

                         $('#totalTestCount').val(parseInt($('#totalTestCount').val() - 1));

                         var islasttr = $(document).find('.tr-word-row');
                         if (islasttr.length <= 1) {
                             if (parseInt($('#hfn-index').val()) != 0)
                                 $('#hfn-index').val(parseInt($('#hfn-index').val()) - 1)
                         }


                         var obj = new Object();
                         obj.userId = $('#userId').val();
                         obj.totalTestCount = $('#totalTestCount').val();
                         obj.index = parseInt($('#hfn-index').val());
                         $.ajax({
                             url: '/Wordutopia/refreshUserTestList',
                             type: "POST",
                             data: obj,
                             dataType: 'html',
                             success: function (data) {
                                 $('#tbody-testlist').html(data);





                                 $(document).find('.spn-utcdate').each(function () {
                                     try {
                                         var date = $(this).attr('data-utctime');
                                         //var serverDate = moment.utc(date).local().format('MMMM DD.YYYY');
                                         var serverDate = moment.utc(date).local().format('DD/MM/YY');
                                         var serverTime = moment.utc(date).local().format('hh:mm a');
                                         //console.log(serverDate);
                                         //console.log(serverTime);
                                         //console.log(moment.utc(date).local().format("YYYY-MM-DD HH:mm:ss"));
                                         $(this).parent().find('.spn-date').text(serverDate);
                                         $(this).parent().find('.spn-time').text(serverTime);
                                     }
                                     catch (ex) {
                                         console.warn("Error converting date time", ex);
                                     }
                                 });








                                 //$('#wordlist-pagination').data("current", page);
                                 var obj1 = new Object();
                                 obj1.userId = $('#userId').val();
                                 obj1.totalTestCount = $('#totalTestCount').val();
                                 obj1.index = parseInt(parseInt($('#hfn-index').val()) + 1);
                                 $.ajax({
                                     url: '/Wordutopia/refreshUserTestListPagination',
                                     type: "POST",
                                     data: obj1,
                                     dataType: 'html',
                                     success: function (data) {
                                         $('#nav-pagination').html(data);
                                         $('#div-page-count').html('<p>Page ' + parseInt(parseInt($('#hfn-index').val()) + 1) + ' of ' + Math.ceil(parseFloat($('#totalTestCount').val()) / parseFloat(10)) + '</p>')
                                         //Convert.ToString(Math.Ceiling(Convert.ToDouble(Convert.ToDouble(totalWordCount) / Convert.ToDouble(10))))</p>')
                                     }
                                 });
                             }
                         });

                     }
                     else {
                         toastrError(data.message);
                     }
                 }
             });
         }
     });
    });



    $(document).on('click', '.test-all-delete', function () {
        var source = $(this);

        var totalTestCount = parseInt($('#totalTestCount').val());
        if (totalTestCount > 0) {

            swal({
                title: "Are you sure?",
                text: "Permanently delete all test from your database?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004b8d",
                confirmButtonText: "Yes, delete!",
                closeOnConfirm: true
            },
         function (isConfirm) {
             if (isConfirm) {
                 $.ajax({
                     url: '/Wordutopia/deleteAllTest/' + $('#userId').val(),
                     type: "GET",
                     dataType: 'JSON',
                     success: function (data) {
                         if (data.status) {
                             toastrSuccess("Test deleted");
                             setTimeout(function () {
                                 location.reload();
                             }, 350);

                         }
                         else {
                             toastrError(data.message);
                         }
                     }
                 });
             }
         });
        }

    });



    $(document).on('click', '.delete-selected-test', function () {
        var source = $(this);

        if (testList.length > 0) {


            swal({
                title: "Are you sure?",
                text: "Permanently delete this test from your database?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004b8d",
                confirmButtonText: "Yes, delete!",
                closeOnConfirm: true
            },
         function (isConfirm) {
             if (isConfirm) {
                 $.ajax({
                     url: '/Wordutopia/deletSelectedTest/' + btoa(testList.join(',')),
                     type: "GET",
                     dataType: 'JSON',
                     success: function (data) {
                         if (data.status) {
                             toastrSuccess("Test deleted");

                             $('#totalTestCount').val(parseInt($('#totalTestCount').val() - 1));

                             var islasttr = $(document).find('.tr-word-row');
                             if (islasttr.length <= 1) {
                                 if (parseInt($('#hfn-index').val()) != 0)
                                     $('#hfn-index').val(parseInt($('#hfn-index').val()) - 1)
                             }


                             var obj = new Object();
                             obj.userId = $('#userId').val();
                             obj.totalTestCount = $('#totalTestCount').val();
                             obj.index = parseInt($('#hfn-index').val());
                             $.ajax({
                                 url: '/Wordutopia/refreshUserTestList',
                                 type: "POST",
                                 data: obj,
                                 dataType: 'html',
                                 success: function (data) {
                                     $('#tbody-testlist').html(data);


                                     $(document).find('.spn-utcdate').each(function () {
                                         try {
                                             var date = $(this).attr('data-utctime');
                                             //var serverDate = moment.utc(date).local().format('MMMM DD.YYYY');
                                             var serverDate = moment.utc(date).local().format('DD/MM/YY');
                                             var serverTime = moment.utc(date).local().format('hh:mm a');
                                             //console.log(serverDate);
                                             //console.log(serverTime);
                                             //console.log(moment.utc(date).local().format("YYYY-MM-DD HH:mm:ss"));
                                             $(this).parent().find('.spn-date').text(serverDate);
                                             $(this).parent().find('.spn-time').text(serverTime);
                                         }
                                         catch (ex) {
                                             console.warn("Error converting date time", ex);
                                         }
                                     });


                                     //$('#wordlist-pagination').data("current", page);
                                     var obj1 = new Object();
                                     obj1.userId = $('#userId').val();
                                     obj1.totalTestCount = $('#totalTestCount').val();
                                     obj1.index = parseInt(parseInt($('#hfn-index').val()) + 1);
                                     $.ajax({
                                         url: '/Wordutopia/refreshUserTestListPagination',
                                         type: "POST",
                                         data: obj1,
                                         dataType: 'html',
                                         success: function (data) {
                                             $('#nav-pagination').html(data);
                                             $('#div-page-count').html('<p>Page ' + parseInt(parseInt($('#hfn-index').val()) + 1) + ' of ' + Math.ceil(parseFloat($('#totalTestCount').val()) / parseFloat(10)) + '</p>')
                                             //Convert.ToString(Math.Ceiling(Convert.ToDouble(Convert.ToDouble(totalWordCount) / Convert.ToDouble(10))))</p>')
                                         }
                                     });
                                 }
                             });

                         }
                         else {
                             toastrError(data.message);
                         }
                     }
                 });
             }
         });
        }
        else {
            toastrError("Select a test to delete");
        }
    });




</script>


<script>

    $("#SelectAll").click(function () {
        $("#selected-item-count").text("0");
        $('.ckb-word-item').each(function () {
            this.checked = true;
            //$('#selected-item-count').text(" " + parseInt(parseInt($('#selected-item-count').text()) + parseInt(1)));

            var examid = $(this).attr('data-examid');
            if ($(this).prop("checked") == true) {
                testList.push(examid);
                //$('#selected-item-count').text(" " + parseInt(parseInt($('#selected-item-count').text()) + parseInt(1)));
            }
            else {
                testList.splice($.inArray(examid, testList), 1);
                //$('#selected-item-count').text(" " + parseInt(parseInt($('#selected-item-count').text()) - parseInt(1)));
            }
            //console.log(wordList);


        });

    });

    $(document).on('click', '.ckb-word-item', function () {
        var examid = $(this).attr('data-examid');
        if ($(this).prop("checked") == true) {
            testList.push(examid);
            //$('#selected-item-count').text(" " + parseInt(parseInt($('#selected-item-count').text()) + parseInt(1)));
        }
        else {
            testList.splice($.inArray(examid, testList), 1);
            //$('#selected-item-count').text(" " + parseInt(parseInt($('#selected-item-count').text()) - parseInt(1)));
        }
        //console.log(wordList);
    });

</script>
