﻿@{
    ViewBag.Title = "About";
    Layout = "/Views/Shared/_Layout_Index.cshtml";
}


<section>
    <!--<div class="Upperhead">
        <h5>About Us</h5>
        <p>Home > About</p>
    </div>-->
</section>
<!--Login Section-->
<section class="abtsc">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="~/Content/img/homeicons/aboutimg.jpg" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="Abtcnt">
                    <h5>About Us</h5>
                    <p>Tuition Cloud, has been created to help people test themselves on any given subject by means of 3 fantastic applications:</p>
                    <ul>
                        <li>WORDUTOPIA</li>
                        <li>QUESTER</li>
                        <li>CHOICER</li>
                    </ul>
                    <p>Tuition Cloud has been set up to give businesses, students, teachers and hobbyists the option either to share data and customised tests across the world by means of a universal data bank, or to restrict folder access using secure passwords. The site is further enhanced by a NEWS section and dedicated FORUMS for your enjoyment. If you have any suggestions on how to improve Tuition Cloud please let us know. Meanwhile, spread the word about us to everyone you know and LIKE us on Facebook</p>
                </div>
            </div>
        </div>
    </div>
</section>