﻿
@{
    ViewBag.Title = "Quester";
    Layout = "~/Views/Shared/_Layout_Quester.cshtml";
}

 <!-- SLIDER SECTION START -->
<section class="Slider">
    <div id="carouselExampleIndicators" class="carousel slide inner-Slider" data-ride="carousel">
        <a href="javascript:;" id="scrollToBottom1"><img src="~/Content/img/arrow.png" /></a>
        <div class="carousel-inner InnrPgs " role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active sliderImg" style="background-image: url('/Content/img/banner/quester.jpg')">
                <!--<div class="carousel-caption d-none d-md-block WrdSlideTxt">
                  <h3>Wordutopia</h3>
                  <p> Allows you to create questions on any subject.  </p>
                </div>-->
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <!--<div class="carousel-item sliderImg" style="background-image: url('img/banner/banner2.jpg')">
             <div class="container ">  <div class="carousel-caption d-none d-md-block SliderTxt">
                <h3>Welcome to Tuition Cloud</h3>
                <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.  </p>
              </div> </div>
            </div>-->
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <!--<div class="carousel-item sliderImg" style="background-image: url('img/banner/banner3.jpg')">
              <div class="container ">  <div class="carousel-caption d-none d-md-block SliderTxt">
                <h3>Welcome to Tuition Cloud</h3>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
              </div> </div>
            </div>-->
        </div>
        <!--<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>-->
    </div>
    <!--<div class="container">
      <div class="bannerTxt">
          <div class="row">
              <div class="col-md-4 ">
                      <div class="bxClr">
                          <div class="IconS">
                              <img src="img/homeicons/wordutopia-icon.png" />
                          </div>
                          <div class="TeXt">
                              <h3 class="head3">Wordutopia</h3>
                              <p class="Para">Allows you to focus on improving your command of English vocabulary and phrasing.</p>
                              <button type="button" class="btn btn-light">Read More</button>
                          </div>
                      </div>
              </div>
              <div class="col-md-4 ">
                      <div class="bxClr">
                          <div class="IconS">
                          <img src="img/homeicons/quester-icon.png" />
                      </div>
                      <div class="TeXt">
                          <h3 class="head3">Quester</h3>
                          <p class="Para">Allows you to create questions on any subject. </p>
                          <button type="button" class="btn btn-light">Read More</button>
                      </div>
                      </div>
              </div>
              <div class="col-md-4">
                      <div class="bxClr">
                      <div class="IconS">
                          <img src="img/homeicons/choicer.png" />
                      </div>
                      <div class="TeXt">
                          <h3 class="head3">Choicer</h3>
                          <p class="Para">Allows you to create multiple choice tests on any subject. </p>
                          <button type="button" class="btn btn-light">Read More</button>
                      </div>
                      </div>
              </div>
          </div>
      </div>
    </div>-->
</section>

<!----inner contents---->
<section>
    <div class="container">
        <div class="InnerContents">
            <div class="row">
                <div class="col-lg-8 col-md-8 txtPads">
                    <h3>Quester</h3>
                    <!--<p>Allow Users to create tests in random format with or without timers. Moreover, User databases can be shared with anyone across the globe with or without secure passwords.</p>-->
                    <p>Quester is a brilliant application for helping you learn just about any new topic or skill set. Simply give the  topic a name, then create a question and answer that you wish to be used to test your understanding. You can also enhance the experience by including a hint and additional information to access during or after each test. The tests will be relayed back to the User in a radom fashion with or without timers and passwords. Users can also share their tests with specific Users like for example a study group, or share them with the online community in general. Users can even monitor the performance of invited test participants and compile similar tests that focus only on incorrect answers. For a full list of features and how they operate including free access to the online forum, check out the DEMO section from the Main menu. Enjoy!</p>
                    <!--<a class="readBtn" href="#">Read More</a>-->
                </div>
                <div class="col-lg-4 col-md-4 Innerimg">
                    <img src="~/Content/img/quester.png" />
                </div>
                <div class="uparr">
                    <a href="/Home/Index"><img src="~/Content/img/arrowup.png" /></a>
                </div>
            </div>
        </div>
    </div>
</section>
