﻿@{
    var assemblyVersion = System.Reflection.Assembly.GetExecutingAssembly().GetName().ToString();
}
<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <title>Choicer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Content/img/favicon.ico" type="image/favicon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/bootstrap.min.css")>
    <!-- Main CSS -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/style.css?v=" + assemblyVersion)>
    <!-- Raleway Font-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <!-- Bootstrap core JavaScript -->
    <script src="/Content/js/jquery.min.js"></script>
    <script src="/Content/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!-- HEADER START -->
    <header>
        <div class="wraper headerPost">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-4 col-md-4 col-sm-12 ">
                        <div class="logo">
                            <div class="Lgo">
                                <a href="/Home/Index">
                                    <img src="~/Content/img/logo.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12">
                        <!-- Navigation -->
                        <nav class="navbar navbar-expand-md">
                            <button class="navbar-toggler Toggbtn" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarResponsive">
                                <ul class="topLinks-header text-center">
                                    <li><a href="/Home/Choicer">HOME</a></li>
                                    <li><a href="#">ABOUT</a></li>
                                    <li><a href="#">DEMO</a></li>
                                    <li><a href="#">FORUMS</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-12 Signup_list ">
                        <ul class="topLinks-header text-center">
                            <li><a href="/User/Register">Register</a></li>
                            <li><a href="/User/Login">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div>
        @RenderBody()
    </div>



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <h5 class="footerTitle">Call Us Now</h5>
                    <p class="ftrConts">+613124566</p>
                    <p class="ftrConts">+613124566</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-7">
                    <h5 class="footerTitle">Connect with Us</h5>
                    <ul class="socialLink">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-skype"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-5 col-sm-12">
                    <div class="form-group">
                        <label>Subscribe with us</label>
                        <input type="email" class="subscribeInpt" placeholder="Your Email" />
                        <input type="button" class="subscribeBtn" value="Subscribe" />
                    </div>
                </div>
            </div>
        </div>
        <div class="wraper footerBottom">
            <div class="container">
                <div class="row">
                    <p class="col-md-6">© @DateTime.Now.Year - Stewart Gemmill, All rights reserved</p>
                    <div class="col-md-6">
                        <ul class="ftrLink">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Help Desk</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>



    <script type="text/javascript">
        $(function () {
            $('#scrollToBottom1').bind("click", function () {
                $('html, body').animate({ scrollTop: ($('.Slider').offset().top + $('.Slider').height()) }, 1200);
                return false;
            });
            //$('#scrollToTop').bind("click", function () {
            //                $('html, body').animate({ scrollTop: 0 }, 1200);
            //                return false;
            //            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
