﻿@model TutionCloudWeb.Model.Wordutopia.WordsModel
@{
    var wordList = new TutionCloudWeb.Models.DataClass.WebService().getUserWordList(Model.userId, Model.index, 10, Model.searchText, Model.sortBy, Model.sortOrder);
}

@*<input type="button" value="selectAll" id="Test1234"/>
    <input type="checkbox" class="ckb-word-item" data-wordid="item.WORDID" id="SibiTest">*@
@if (wordList.Count > 0)
{
    foreach (var item in wordList)
    {
        var value = item.WORDID.ToString() + "-Words-1";
        byte[] byt = System.Text.Encoding.UTF8.GetBytes(value);

        // convert the byte array to a Base64 string

        var strModified = Convert.ToBase64String(byt);
        var Synonym = "https://www.thesaurus.com/browse/" + item.WORD + "?s=t";


        <tr class="tr-word-row" style="cursor:pointer;" data-word="@item.WORD" data-pronounciation="@item.PRONOUNCIATION" data-phrase="@item.PHRASE" data-hint="@item.HINT" data-definition="@item.DEFINITION">
            <td><input type="checkbox" class="ckb-word-item" data-wordid="@item.WORDID"></td>
            <td><strong>@item.WORD</strong></td>
            <td>@item.OVERALLSCORE %</td>
            @*<td>
                    <span>
                        <a target="_blank" href="@Synonym">
                            <img style="width: 17px;" src="~/Content/img/utilities/ser.png"> Synonym
                        </a>
                    </span>
                    <span class="ck_brd">|</span>
                    <span>
                        <a style="cursor:pointer;" href="/Wordutopia/EditWord/@strModified">
                            <i class="fas fa-pencil-alt"></i> Edit
                        </a>
                    </span>
                    <span class="ck_brd">|</span>
                    <span>
                        <a class="word-delete" data-wordid="@item.WORDID">
                            <i class="fas fa-trash-alt"></i> Delete
                        </a>
                    </span>
                </td>*@

            <td class="toggle_dropdown_cust">
                <div class="web-dsp">
                    <span class="edts"><a target="_blank" href="@Synonym"><img style="width: 17px;" src="~/Content/img/utilities/ser.png"> Synonym</a></span>
                    <span class="ck_brd">|</span>
                    <span class="edts"><a style="cursor:pointer;" href="/Wordutopia/EditWord/@strModified"><i class="fas fa-pencil-alt"></i> Edit</a></span>
                    <span class="ck_brd">|</span>
                    <span class="edts"><a class="word-delete" data-wordid="@item.WORDID"><i class="fas fa-trash-alt"></i> Delete</a></span>
                </div>
                <div class="togButns attachmts">
                    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu labes" aria-labelledby="dropdownMenuButton">
                        <span class="edts"><a target="_blank" href="@Synonym"><img style="width: 17px;" src="~/Content/img/utilities/ser.png"> Synonym</a></span>
                        <span class="ck_brd">|</span>
                        <span class="edts"><a style="cursor:pointer;" href="/Wordutopia/EditWord/@strModified"><i class="fas fa-pencil-alt"></i> Edit</a></span>
                        <span class="ck_brd">|</span>
                        <span class="edts"><a class="word-delete" data-wordid="@item.WORDID"><i class="fas fa-trash-alt"></i> Delete</a></span>
                    </div>
                </div>
            </td>



        </tr>
    }
}
else
{
    <tr>
        <td colspan="4">No words found</td>
    </tr>
}



