﻿@model TutionCloudWeb.Models.PostModel.OnlineCommunity.WordList
@using TutionCloudWeb.Manager.Wordutopia;
@{
    SharingManager SharingManager = new SharingManager();
    string values = Model.userId.ToString();
    var wordList = SharingManager.GetAllWordListWord_ListSharedbyMe_Dates(values);

}


@if (wordList.Count > 0)
{
    int i = 0;
    foreach (var word in wordList)
    {

        DateTime resrulst = Convert.ToDateTime(wordList[i]);
        string dd = resrulst.ToString("dd");
        string MM = resrulst.ToString("MM");
        string yyyy = resrulst.ToString("yyyy");
        string hh = resrulst.ToString("hh");
        string mm = resrulst.ToString("mm");
        string ss = resrulst.ToString("ss");
        string tt = resrulst.ToString("tt");
        string dataeTotals = dd + "/" + MM + "/" + yyyy +" "+ hh +":"+mm+" "+ tt;

        <tr class="tr-word-row" style="cursor:pointer;" trvalues="@wordList[i]">
            @*<td>
                <input class="ckb-word-item" type="checkbox" />

            </td>*@
            <td class="td-word-col" tdvalues="@wordList[i]"><strong>@dataeTotals</strong></td>
            <td class="toggle_dropdown_cust td_View_Delete" style="pointer-events:auto; " pointe-evend-enable="@wordList[i]">
                <div class="web-dsp div_View_Delete" disabled="true">
                    <span class="edts"><a href="@Url.Action("WordListSharedwithbyWords", "Sharing", new { CreatedOn = wordList[i] })">View</a></span>
                    <span class="ck_brd">|</span>
                    <span class="edts class_Deletes" span-id-values="@wordList[i]"><a><i class="fas fa-trash-alt"></i> Delete</a></span>
                </div>

                <div class="togButns attachmts">
                    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <div class="web-dsp div_View_Delete dropdown-menu labes" disabled="true" aria-labelledby="dropdownMenuButton">
                        <span class="edts"><a href="@Url.Action("WordListSharedwithMeWords", "Sharing", new { CreatedOn = wordList[i] })">View</a></span>
                        <span class="ck_brd">|</span>
                        <span class="edts class_Deletes" span-id-values="@wordList[i]"><a><i class="fas fa-trash-alt"></i> Delete</a></span>
                    </div>
                </div>

            </td>
        </tr>





        i++;

    }
}
else
{
    <tr>
        <td colspan="3">No words found</td>
    </tr>
}



<script>
    //$(document).ready(function () {
    var public_CreatedOn;
    //$(".td_View_Delete *").attr("disabled", "disabled").off('click');
    //$('#btn_SendList').click(function () {
   

    function sortLists(Itemarry) {
        var model = new Array();
        //Itemarry = $('#select_AddUsers > option');

        $.each(Itemarry, function (key, values) {
            var items = {};
            if (values.value !== '') {
                items.UserID = values.value;
                items.UserName = values.text;
                model.push(items);
            }
        });

        $('#select_AddUsers').empty();

        $.ajax({
            url: '/Sharing/SortDropdownListBYCreateaWordListToShare',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            async: true,
            data: JSON.stringify(model),
            processData: false,
            cache: false,
            success: function (data) {
                $('#select_AddUsers').html('');
                $.each(data, function (key, value) {
                    $('#select_AddUsers').append($("<option></option>").attr("value", value.UserID).text(value.UserName));
                });

            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }


    $(".tr-word-row > .td_View_Delete > .div_View_Delete > .class_Deletes").click(function () {
        var CreatedOn = $(this).attr('span-id-values');

        swal({
            title: "Are you sure?",
            text: "Your will not be able to recover this file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
           function () {
               $.ajax({
                   url: '/Sharing/DeleteWordListSharedwithMe?CreatedOn=' + CreatedOn,
                   type: "GET",
                   dataType: 'JSON',
                   success: function (data) {
                       if (data == 1) {
                           //toastrSuccess("Deleted successfully");
                           swal("Deleted!", "Your file has been deleted.", "success");

                       }
                       else {
                           toastrError("Failed");
                       }
                       location.reload();
                   }
               });

           });

    });

    
    //});
</script>
