﻿@model TutionCloudWeb.Models.PostModel.Word.WordClass
@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Layout_Wordutopia_Home.cshtml";
}

@{
    ViewBag.Title = "WordListShareanArchivedTest_View";
    Layout = "~/Views/Shared/_Layout_Wordutopia_Home.cshtml";
    var totalWordCount = Model.totalWordCount;
    byte[] byt = System.Text.Encoding.UTF8.GetBytes("00");
    var strModified = Convert.ToBase64String(byt);
}
@Html.HiddenFor(z => z.userId, new { Value = Model.userId })
@Html.HiddenFor(z => z.totalWordCount, new { Value = Model.totalWordCount })
@Html.HiddenFor(z => z.CreatedOn, new { Value = Model.CreatedOn })
<input type="hidden" id="hfn-index" value="0" />
<input type="hidden" id="hfn-sortby" value="" />
<input type="hidden" id="hfn-sortorder" value="" />
<section class="favSecn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="favsection">
                            <span>Viewing words from selected Test Archive</span>
                            @*<a href="/Wordutopia/CreateWord"><img src="~/Content/img/utilities/folder.png" /><span class="test">ADD WORD</span></a>*@
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group Srch1 ">
                            <label for="Name">Search By Word Name:</label>
                            <div class="Srchbx">
                                <input type="text" class="form-control" id="ipt-word-search">
                                <button style="cursor:pointer;" id="btn-search-word">SEARCH</button>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="selected-item-count" value="0" /> @*Temp Fiels don't delete*@
                <input type="hidden" id="hidden_CreatedOn" value="@Model.CreatedOn" />
                @*<p>Number of Words selected:<span id="selected-item-count"> 0</span></p>*@
                <div class="OutTab">
                    <div class="Table">
                        <div class="table-responsive Tble">
                            <table class="table table-hover newTable table-bordered">
                                <thead>
                                    <tr>
                                        <th class="tabhead">Select</th>
                                        <th class="tabhead">Words <div class="Ryt"> @*<span class="uppsort" id="word-desc"></span><span id="word-asc" class="downsort"></span>*@</div></th>
                                        <th class="tabhead"> Overall % Score <div class="Ryt"> @*<span id="score-desc" class="uppsort"></span><span id="score-asc" class="downsort"></span>*@</div></th>
                                        <th class="tabhead">Options</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody-wordlist">
                                    @{
                                        var postModel = new TutionCloudWeb.Models.PostModel.Word.WordList();
                                        postModel.userId = Model.userId;
                                        postModel.index = 0;
                                        postModel.totalWordCount = totalWordCount;
                                        postModel.searchText = string.Empty;
                                        postModel.sortBy = string.Empty;
                                        postModel.sortOrder = string.Empty;
                                        postModel.CreatedOn = Model.CreatedOn;
                                    }
                                    @Html.Partial("~/Views/Sharing/_pv_Sharing_ShareAnArchivedTest_List.cshtml", postModel)
                                </tbody>
                            </table>

                        </div>

                        <div class="Indctor" id="div-page-count">
                            <p>Page 1 of @Convert.ToString(Math.Ceiling(Convert.ToDouble(Convert.ToDouble(totalWordCount) / Convert.ToDouble(10))))</p>
                        </div>
                        <div class="Pgntation">
                            <nav aria-label="Page navigation example" id="nav-pagination">
                                @*<ul class="pagination">
                                    <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                    </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                    </a>
                                    </li>
                                    </ul>*@
                                @*@{
                                    var res = Convert.ToString(Math.Ceiling(Convert.ToDouble(Convert.ToDouble(totalWordCount) / Convert.ToDouble(10))));
                                    }
                                    <ul id="wordlist-pagination" class="blade-pagination" data-current="1" data-total="@(res)"></ul>*@
                                @{
                                    var postModelPagination = new TutionCloudWeb.Models.PostModel.Word.WordListPagination();
                                    postModelPagination.userId = Model.userId;
                                    postModelPagination.index = 1;
                                    postModelPagination.totalWordCount = totalWordCount;
                                    postModelPagination.searchText = string.Empty;
                                    postModelPagination.sortBy = string.Empty;
                                    postModelPagination.sortOrder = string.Empty;
                                }
                                @Html.Partial("~/Views/Sharing/_pv_Sharing_SharedwithMeWords_List_Pagination.cshtml", postModelPagination)
                                @*@{
                                    var res = Convert.ToInt64(totalWordCount) / 10;
                                    if (Convert.ToDecimal(res))
                                    }
                                    if(
                                    )*@
                                @*<ul id="wordlist-pagination" class="blade-pagination" data-current="1" data-total="@(10/Convert.ToInt64(totalWordCount))"></ul>*@
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="newdrpn">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary " data-toggle="dropdown">Task Dropdown List <img class="png_rightarrow" src="~/Content/img/rightarrow.png" /></button>
                        <div class="dropdown-menu">
                            <a style="cursor:pointer;" class="dropdown-item" onclick="history.back()">Back</a>
                            @*<a style="cursor:pointer;" class="dropdown-item" id="SelectAll">Select All</a>*@
                            @*<a style="cursor:pointer;" class="dropdown-item" id="a-add-word-fav">Add To Favourite</a>*@
                            @*<a style="cursor:pointer;" class="dropdown-item" id="a-add-word-skiplist">Add To Skipped List</a>*@
                            @*<a style="cursor:pointer;" class="dropdown-item" id="delete-selected-words">Delete selected words</a>*@
                            @*<a style="cursor:pointer;" class="dropdown-item" id="delete-all-words">Delete all</a>*@
                            @*<a style="cursor:pointer;" class="dropdown-item" href="/Wordutopia/Exams">Create a Test </a>*@
                            @*<a style="cursor:pointer;" class="dropdown-item" id="create-test">Create a Test </a>*@
                            @*<a style="cursor:pointer;" class="dropdown-item" target="_blank" href="https://www.thesaurus.com/browse/ ?s=t">Find Synonym</a>*@
                            @*<a style="cursor:pointer;" class="dropdown-item" href="#">Go To Test Archive </a>*@
                            @*<a style="cursor:pointer;" class="dropdown-item" href="">Create a random crossword puzzle </a>*@
                        </div>
                    </div>
                </div>

                <div class="outAccordtn fav_out">
                    <div id="accordion">
                        <div class="card">
                            <div class="accordhead">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Database Word
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body" id="div-databaseword">

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="accordhead">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Pronounced
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body" id="div-Pronounced">

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="accordhead">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Phrase
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body" id="div-Phrase">

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="accordhead">
                                <div class="card-header" id="headingfour">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
                                            Hint
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapsefour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body" id="div-Hint">

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="accordhead">
                                <div class="card-header" id="headingfive">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
                                            Definition
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapsefive" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body lastAccord" id="div-Definition">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="lowerNav">
            <nav class="navbar navbar-expand-sm  justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="https://en.wikipedia.org/wiki/Main.page" target="_blank">Wikipedia</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.google.com/search?q=calculator" target="_blank">Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.google.com/maps/" target="_blank">Maps</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.google.com/search?ei=DyM3XNbMEdH6kwW-lpLgCA&q=google+currency+converter&oq=google+currency+converter&gs_l=psy-ab.3..35i39j0i7i30l2j0j0i7i30j0j0i7i30j0l3.211.5629..6378...0.0..0.282.1593.0j6j3......0....1..gws-wiz.......0i71j0i30j0i131i67j35i304i39.BbyIqE0P5UY" target="_blank">Currency Converter</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.timeanddate.com/worldclock/full.html" target="_blank">World Clocks</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://translate.google.com/" target="_blank">Translator</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<script>

    $(document).on('click', '#create-test', function () {
        if (wordList.length <= 0) {
            window.location.href = "/Wordutopia/Exams";
        }
        else {
            var encodedString = btoa(wordList.join(','));
            window.location.href = "/Wordutopia/CreateTest/" + encodedString;
        }
    });

</script>


<script>

    $("#a_ClickSharing").css({ "color": "#98aaff" });
    $('#ipt-word-search').keypress(function (e) {

        var key = e.which;
        if (key == 13)  // the enter key code
        {
            $('#btn-search-word').click();
            //return false;
        }
    });

    $("#SelectAll").click(function () {
        $("#selected-item-count").text("0");

        if ($('.ckb-word-item').prop("checked") == false) {
            $('.ckb-word-item').each(function () {
                this.checked = true;
                $('#selected-item-count').text(" " + parseInt(parseInt($('#selected-item-count').text()) + parseInt(1)));
                var wordId = $(this).attr('data-wordid');
                if ($(this).prop("checked") == true) {
                    wordList.push(wordId);
                }
                else {
                    wordList.splice($.inArray(wordId, wordList), 1);
                }
            });
        }
        else {
            $('.ckb-word-item').each(function () {
                this.checked = false;
                $('#selected-item-count').text(" " + parseInt(parseInt($('#selected-item-count').text()) + parseInt(1)));
                var wordId = $(this).attr('data-wordid');
                if ($(this).prop("checked") == false) {
                    wordList.push(wordId);
                }
                else {
                    wordList.splice($.inArray(wordId, wordList), 1);
                }
            });

        }

    });

    //toastrError(data.message);
    $(document).on('click', '.tr-word-row', function () {
        var source = $(this);
        var word = $(source).attr('data-word');
        var pronounciation = $(source).attr('data-pronounciation');
        var phrase = $(source).attr('data-phrase');
        var hint = $(source).attr('data-hint');
        var definition = $(source).attr('data-definition');

        $('#div-databaseword').html(word);
        $('#div-Pronounced').html(pronounciation);
        $('#div-Phrase').html(phrase);
        $('#div-Hint').html(hint);
        $('#div-Definition').html(definition);
    });



    $(document).ready(function () {
        var tr = $(document).find('.tr-word-row').first();

        if (tr.length > 0) {
            var word = $(tr).attr('data-word');
            var pronounciation = $(tr).attr('data-pronounciation');
            var phrase = $(tr).attr('data-phrase');
            var hint = $(tr).attr('data-hint');
            var definition = $(tr).attr('data-definition');
            $('#div-databaseword').html(word);
            $('#div-Pronounced').html(pronounciation);
            $('#div-Phrase').html(phrase);
            $('#div-Hint').html(hint);
            $('#div-Definition').html(definition);
        }


    });
    var wordList = [];




    $(document).on('click', '.ckb-word-item', function () {
        var wordId = $(this).attr('data-wordid');
        if ($(this).prop("checked") == true) {
            wordList.push(wordId);
            $('#selected-item-count').text(" " + parseInt(parseInt($('#selected-item-count').text()) + parseInt(1)));
        }
        else {
            wordList.splice($.inArray(wordId, wordList), 1);
            $('#selected-item-count').text(" " + parseInt(parseInt($('#selected-item-count').text()) - parseInt(1)));
        }
        console.log(wordList);
    });


</script>

<script>

    $(document).on('click', '.word-delete', function () {
        var source = $(this);
        var wordId = $(this).attr('data-wordid');
        //url: '/Sharing/deletWordSharedWithMeWords?wordId=' + wordId,
        swal({
            title: "Are you sure?",
            text: "Your will not be able to recover this file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
            function () {
                $.ajax({
                    url: '/Sharing/deletWordSharedWithMeWords?wordId=' + wordId,
                    type: "GET",
                    dataType: 'JSON',
                    success: function (data) {
                        if (data == 1) {
                            //toastrSuccess("Deleted successfully");
                            swal("Deleted!", "Your file has been deleted.", "success");

                        }
                        else {
                            toastrError("Failed");
                        }
                        location.reload();
                    }
                });

            });
    });


    $(document).on('click', '#delete-selected-words', function () {
        var cbkStatus = false;
        var wordIds = "";
        var count = 0;
        $(document).find('.ckb-word-item').each(function (index, value) {
            if ($(this).prop("checked") == true) {
                count = count + 1;
                cbkStatus = true;
                if (wordIds == "")
                    wordIds = wordIds + $(this).attr('data-wordid');
                else
                    wordIds = wordIds + "," + $(this).attr('data-wordid');
            }
        });
        if (cbkStatus == false && wordList.length <= 0) {
            toastrError('Please select a word');
        }
        else {
            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
  function () {


      var userId = $('#userId').val();
      var objs = new Object();
      objs.userId = userId;
      objs.wordIds = wordList.join(',')

      $.ajax({
          url: '/Sharing/deletSelecteSharedWithMe',
          type: "POST",
          data: objs,
          dataType: 'JSON',
          success: function (data) {
              if (data == 1) {
                  //toastrSuccess("Deleted successfully");
                  swal("Deleted!", "Your file has been deleted.", "success");

              }
              else {
                  toastrError("Failed");
              }
              location.reload();
          }
      });

  });
        }
    });


    $(document).on('click', '#delete-all-words', function () {

        if ($('.tr-word-row').length > 0) {

            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
    function () {
        var userId = $('#userId').val();
        var CreatedOn = $("#CreatedOn").val();
        var objs = new Object();
        objs.userId = userId;
        objs.CreatedOn = CreatedOn;
        $.ajax({
            url: '/Sharing/deletAllSharedWithMe',
            type: "POST",
            data: objs,
            dataType: 'JSON',
            success: function (data) {
                if (data == 1) {
                    //toastrSuccess("Deleted successfully");
                    swal("Deleted!", "Your file has been deleted.", "success");

                }
                else {
                    toastrError("Failed");
                }
                location.reload();
            }
        });

    });
        }
        else {
            toastrError("No words to delete");
        }
    });


</script>


<script>
    $(document).on('click', '#btn-search-word', function () {
        var searchText = $('#ipt-word-search').val();
        searchText = $.trim(searchText);
        var CreatedOn = $("#CreatedOn").val();
        var userId = $('#userId').val();

        var objs = new Object();
        objs.userId = userId;
        objs.searchText = searchText;
        objs.CreatedOn = CreatedOn;
        $.ajax({
            url: '/Sharing/SharedWithByWordCount',
            type: "POST",
            data: objs,
            dataType: 'JSON',

            success: function (data) {
                $('#totalWordCount').val(data);
                var obj = new Object();
                obj.userId = $('#userId').val();
                obj.totalWordCount = $('#totalWordCount').val();
                obj.index = parseInt($('#hfn-index').val());
                obj.searchText = searchText;
                obj.sortBy = $('#hfn-sortby').val();
                obj.sortOrder = $('#hfn-sortorder').val();
                obj.CreatedOn = $("#CreatedOn").val();
                $.ajax({
                    url: '/Sharing/refreshUserWordbyList',
                    type: "POST",
                    data: obj,
                    dataType: 'html',
                    success: function (data) {
                        $('#tbody-wordlist').html(data);
                        var tr = $(document).find('.tr-word-row').first();
                        if (tr.length > 0) {
                            var word = $(tr).attr('data-word');
                            var pronounciation = $(tr).attr('data-pronounciation');
                            var phrase = $(tr).attr('data-phrase');
                            var hint = $(tr).attr('data-hint');
                            var definition = $(tr).attr('data-definition');
                            $('#div-databaseword').html(word);
                            $('#div-Pronounced').html(pronounciation);
                            $('#div-Phrase').html(phrase);
                            $('#div-Hint').html(hint);
                            $('#div-Definition').html(definition);
                        }
                        //$('#wordlist-pagination').data("current", page);
                        var obj1 = new Object();
                        obj1.userId = $('#userId').val();
                        obj1.totalWordCount = $('#totalWordCount').val();
                        obj1.index = parseInt(parseInt($('#hfn-index').val()) + 1);
                        obj1.searchText = $('#ipt-word-search').val();
                        obj1.sortBy = $('#hfn-sortby').val();
                        obj1.sortOrder = $('#hfn-sortorder').val();
                        $.ajax({
                            url: '/Sharing/refreshUserWordListPagination',
                            type: "POST",
                            data: obj1,
                            dataType: 'html',
                            success: function (data) {
                                $('#nav-pagination').html(data);
                                $('#div-page-count').html('<p>Page ' + parseInt(parseInt($('#hfn-index').val()) + 1) + ' of ' + Math.ceil(parseFloat($('#totalWordCount').val()) / parseFloat(10)) + '</p>')
                                //$('#div-page-count').html('<p>Page ' + parseInt(parseInt($('#hfn-index').val()) + 1) + ' of Convert.ToString(Math.Ceiling(Convert.ToDouble(Convert.ToDouble(totalWordCount) / Convert.ToDouble(10))))</p>')
                            }
                        });
                    }
                });
            }
        });
    });
</script>

<script>


    $(document).on('click', '#a-add-word-fav', function () {
        var cbkStatus = false;
        var wordIds = "";
        var count = 0;
        $(document).find('.ckb-word-item').each(function (index, value) {
            if ($(this).prop("checked") == true) {
                count = count + 1;
                cbkStatus = true;
                if (wordIds == "")
                    wordIds = wordIds + $(this).attr('data-wordid');
                else
                    wordIds = wordIds + "," + $(this).attr('data-wordid');
            }
        });
        if (cbkStatus == false) {
            toastrError('Please select a word');
        }
        else {
            var userId = $('#userId').val();
            var objs = new Object();
            objs.userId = userId;
            objs.wordIds = wordIds;

            $.ajax({
                url: '/Sharing/addfavouriteword',
                type: "POST",
                data: objs,
                dataType: 'JSON',
                success: function (data) {
                    if (data.status) {
                        toastrSuccess("Word added to favourites");


                        $('#totalWordCount').val(parseInt($('#totalWordCount').val() - count));


                        var islasttr = $(document).find('.tr-word-row');
                        if (islasttr.length == count) {
                            if (parseInt($('#hfn-index').val()) != 0)
                                $('#hfn-index').val(parseInt($('#hfn-index').val()) - 1)
                        }


                        var obj = new Object();
                        obj.userId = $('#userId').val();
                        obj.totalWordCount = $('#totalWordCount').val();
                        obj.index = parseInt($('#hfn-index').val());
                        obj.searchText = $('#ipt-word-search').val();
                        obj.sortBy = $('#hfn-sortby').val();
                        obj.sortOrder = $('#hfn-sortorder').val();
                        $.ajax({
                            url: '/Sharing/refreshUserWordList',
                            type: "POST",
                            data: obj,
                            dataType: 'html',
                            success: function (data) {
                                $('#tbody-wordlist').html(data);
                                var tr = $(document).find('.tr-word-row').first();
                                if (tr.length > 0) {
                                    var word = $(tr).attr('data-word');
                                    var pronounciation = $(tr).attr('data-pronounciation');
                                    var phrase = $(tr).attr('data-phrase');
                                    var hint = $(tr).attr('data-hint');
                                    var definition = $(tr).attr('data-definition');
                                    $('#div-databaseword').html(word);
                                    $('#div-Pronounced').html(pronounciation);
                                    $('#div-Phrase').html(phrase);
                                    $('#div-Hint').html(hint);
                                    $('#div-Definition').html(definition);
                                }
                                //$('#wordlist-pagination').data("current", page);
                                var obj1 = new Object();
                                obj1.userId = $('#userId').val();
                                obj1.totalWordCount = $('#totalWordCount').val();
                                obj1.index = parseInt(parseInt($('#hfn-index').val()) + 1);
                                obj1.searchText = $('#ipt-word-search').val();
                                obj1.sortBy = $('#hfn-sortby').val();
                                obj1.sortOrder = $('#hfn-sortorder').val();
                                $.ajax({
                                    url: '/Sharing/refreshUserWordListPagination',
                                    type: "POST",
                                    data: obj1,
                                    dataType: 'html',
                                    success: function (data) {
                                        $('#nav-pagination').html(data);
                                        $('#div-page-count').html('<p>Page ' + parseInt(parseInt($('#hfn-index').val()) + 1) + ' of ' + Math.ceil(parseFloat($('#totalWordCount').val()) / parseFloat(10)) + '</p>')
                                        //Convert.ToString(Math.Ceiling(Convert.ToDouble(Convert.ToDouble(totalWordCount) / Convert.ToDouble(10))))</p>')
                                    }
                                });
                            }
                        });


                    }
                    else {
                        toastrError(data.message);
                    }
                }
            });
        }
    });


    $(document).on('click', '#a-add-word-skiplist', function () {
        var cbkStatus = false;
        var wordIds = "";
        var count = 0;
        $(document).find('.ckb-word-item').each(function (index, value) {
            if ($(this).prop("checked") == true) {
                count = count + 1;
                cbkStatus = true;
                if (wordIds == "")
                    wordIds = wordIds + $(this).attr('data-wordid');
                else
                    wordIds = wordIds + "," + $(this).attr('data-wordid');
            }
        });
        if (cbkStatus == false && wordList.length <= 0) {
            toastrError('Please select a word');
        }
        else {
            var userId = $('#userId').val();
            var objs = new Object();
            objs.userId = userId;
            //objs.wordIds = wordIds;
            objs.wordIds = wordList.join(',')
            $.ajax({
                url: '/Wordutopia/addskippedword',
                type: "POST",
                data: objs,
                dataType: 'JSON',
                success: function (data) {
                    if (data.status) {
                        toastrSuccess("Word added to skip list");
                        wordList = [];
                        //setTimeout(function () { })

                        //$(document).find('.ckb-word-item').each(function (index, value) {
                        //    if ($(this).prop("checked") == true) {
                        //        $(this).closest('tr').remove();
                        //    }
                        //});

                        $('#totalWordCount').val(parseInt($('#totalWordCount').val() - count));


                        var islasttr = $(document).find('.tr-word-row');
                        if (islasttr.length == count) {
                            if (parseInt($('#hfn-index').val()) != 0)
                                $('#hfn-index').val(parseInt($('#hfn-index').val()) - 1)
                        }


                        var obj = new Object();
                        obj.userId = $('#userId').val();
                        obj.totalWordCount = $('#totalWordCount').val();
                        obj.index = parseInt($('#hfn-index').val());
                        obj.searchText = $('#ipt-word-search').val();
                        obj.sortBy = $('#hfn-sortby').val();
                        obj.sortOrder = $('#hfn-sortorder').val();
                        $.ajax({
                            url: '/Wordutopia/refreshUserWordList',
                            type: "POST",
                            data: obj,
                            dataType: 'html',
                            success: function (data) {
                                $('#tbody-wordlist').html(data);
                                var tr = $(document).find('.tr-word-row').first();
                                if (tr.length > 0) {
                                    var word = $(tr).attr('data-word');
                                    var pronounciation = $(tr).attr('data-pronounciation');
                                    var phrase = $(tr).attr('data-phrase');
                                    var hint = $(tr).attr('data-hint');
                                    var definition = $(tr).attr('data-definition');
                                    $('#div-databaseword').html(word);
                                    $('#div-Pronounced').html(pronounciation);
                                    $('#div-Phrase').html(phrase);
                                    $('#div-Hint').html(hint);
                                    $('#div-Definition').html(definition);
                                }
                                //$('#wordlist-pagination').data("current", page);
                                var obj1 = new Object();
                                obj1.userId = $('#userId').val();
                                obj1.totalWordCount = $('#totalWordCount').val();
                                obj1.index = parseInt(parseInt($('#hfn-index').val()) + 1);
                                obj1.searchText = $('#ipt-word-search').val();
                                obj1.sortBy = $('#hfn-sortby').val();
                                obj1.sortOrder = $('#hfn-sortorder').val();
                                $.ajax({
                                    url: '/Wordutopia/refreshUserWordListPagination',
                                    type: "POST",
                                    data: obj1,
                                    dataType: 'html',
                                    success: function (data) {
                                        $('#nav-pagination').html(data);
                                        $('#div-page-count').html('<p>Page ' + parseInt(parseInt($('#hfn-index').val()) + 1) + ' of ' + Math.ceil(parseFloat($('#totalWordCount').val()) / parseFloat(10)) + '</p>')
                                        //Convert.ToString(Math.Ceiling(Convert.ToDouble(Convert.ToDouble(totalWordCount) / Convert.ToDouble(10))))</p>')
                                    }
                                });
                            }
                        });


                    }
                    else {
                        toastrError(data.message);
                    }
                }
            });
        }
    });


</script>


<script>
    function sortList() {
        $('#hfn-index').val(0);
        var obj = new Object();
        obj.userId = $('#userId').val();
        obj.totalWordCount = $('#totalWordCount').val();
        obj.index = parseInt($('#hfn-index').val());
        obj.searchText = $('#ipt-word-search').val();
        obj.sortBy = $('#hfn-sortby').val();
        obj.sortOrder = $('#hfn-sortorder').val();
        obj.CreatedOn = $("#hidden_CreatedOn").val();
        $.ajax({
            url: '/Sharing/refreshUserWordbyList',
            type: "POST",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#tbody-wordlist').html(data);
                var tr = $(document).find('.tr-word-row').first();
                if (tr.length > 0) {
                    var word = $(tr).attr('data-word');
                    var pronounciation = $(tr).attr('data-pronounciation');
                    var phrase = $(tr).attr('data-phrase');
                    var hint = $(tr).attr('data-hint');
                    var definition = $(tr).attr('data-definition');
                    $('#div-databaseword').html(word);
                    $('#div-Pronounced').html(pronounciation);
                    $('#div-Phrase').html(phrase);
                    $('#div-Hint').html(hint);
                    $('#div-Definition').html(definition);
                }
                //$('#wordlist-pagination').data("current", page);
                var obj1 = new Object();
                obj1.userId = $('#userId').val();
                obj1.totalWordCount = $('#totalWordCount').val();
                obj1.index = parseInt(parseInt($('#hfn-index').val()) + 1);
                obj1.searchText = $('#ipt-word-search').val();
                obj1.sortBy = $('#hfn-sortby').val();
                obj1.sortOrder = $('#hfn-sortorder').val();
                obj1.CreatedOn = $("#hidden_CreatedOn").val();
                $.ajax({
                    url: '/Sharing/refreshUserWordListPagination',
                    type: "POST",
                    data: obj1,
                    dataType: 'html',
                    success: function (data) {
                        $('#nav-pagination').html(data);
                        $('#div-page-count').html('<p>Page ' + parseInt(parseInt($('#hfn-index').val()) + 1) + ' of ' + Math.ceil(parseFloat($('#totalWordCount').val()) / parseFloat(10)) + '</p>')
                        //Convert.ToString(Math.Ceiling(Convert.ToDouble(Convert.ToDouble(totalWordCount) / Convert.ToDouble(10))))</p>')
                    }
                });
            }
        });
    }


    $(document).on('click', '#word-asc', function () {
        $('#hfn-sortby').val('WORD');
        $('#hfn-sortorder').val('ASC');
        sortList();
        $(this).css('opacity', '1');
        $('#word-desc').css('opacity', '.3');
    });

    $(document).on('click', '#word-desc', function () {
        $('#hfn-sortby').val('WORD');
        $('#hfn-sortorder').val('DESC');
        sortList();
        $(this).css('opacity', '1');
        $('#word-asc').css('opacity', '.3');
    });

    $(document).on('click', '#score-asc', function () {
        $('#hfn-sortby').val('SCORE');
        $('#hfn-sortorder').val('ASC');
        sortList();
        $(this).css('opacity', '1');
        $('#score-desc').css('opacity', '.3');
    });

    $(document).on('click', '#score-desc', function () {
        $('#hfn-sortby').val('SCORE');
        $('#hfn-sortorder').val('DESC');
        sortList();
        $(this).css('opacity', '1');
        $('#score-asc').css('opacity', '.3');
    });


</script>


@*<script id="scrpt-pagination-initialize">
        $(document).find('#wordlist-pagination').bladePagination({
            // max number of pages
            maxPageNum: 5,
            // label text
            firstLabel: '|&lt;', // |<
            prevLabel: '&lt;',   // <
            nextLabel: '&gt;',   // >
            lastLabel: '&gt;|',  // >|
            moreLabel: '...',
            // callback
            clickPage: function (page) {
                var obj = new Object();
                obj.userId = $('#userId').val();
                obj.totalWordCount = $('#totalWordCount').val();
                obj.index = parseInt(parseInt(page) - 1);
                $.ajax({
                    url: '/Wordutopia/refreshUserWordList',
                    type: "POST",
                    data: obj,
                    dataType: 'html',
                    success: function (data) {
                        $('#tbody-wordlist').html(data);
                        //$('#wordlist-pagination').data("current", page);
                        $.ajax({
                            url: '/Wordutopia/refreshUserWordListPagination',
                            type: "POST",
                            data: obj,
                            dataType: 'html',
                            success: function (data) {
                                $('#nav-pagination').html(data);
                            }
                        });
                    }
                });
            }
        });
    </script>*@






