﻿
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tuition Cloud</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" rel="stylesheet">
    <style>
        @font-face {
  font-family: 'Raleway', sans-serif !important;
  font-style: normal;
  font-weight: normal;
}

        body {font-family: 'Raleway', sans-serif !important;}
    </style>
</head>
<body>
    <!-- Wrapper/Container Table: Use a wrapper table to control the width and the background color consistently of your email. Use this approach instead of setting attributes on the body tag. -->
    <table cellpadding="0" width="100%" cellspacing="0" border="0" id="backgroundTable" class='bgBody'>
        <tr>
            <td>

                <!-- Tables are the most common way to format your email consistently. Set your table widths inside cells and in most cases reset cellpadding, cellspacing, and border to zero. Use nested tables as a way to space effectively in your message. -->

                <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="border-collapse:collapse;">
                    <tr>
                        <td>

                            <table cellpadding="0" cellspacing="0" border="0" align="center" style="font-family: 'Raleway', sans-serif !important; border: 1px solid #ddd; border-bottom:0;" width="600">
                                <tr height="40" style="background: #3a569d;">
                                    <td width="200">&nbsp;</td>
                                    <td width="200">&nbsp;</td>
                                    <td width="200">&nbsp;</td>
                                </tr>
                                <tr height="100" style="background: #3a569d;">
                                    <td width="200" valign="top">&nbsp;</td>
                                    <td width="200" valign="top" align="center">
                                        <img src="http://202.191.65.67:4139/email-Template/images/logo.png" width="200" alt='Logo' data-default="placeholder" />
                                    </td>
                                    <td width="200" valign="top">&nbsp;</td>
                                </tr>
                                <tr height="25">
                                    <td width="200">&nbsp;</td>
                                    <td width="200">&nbsp;</td>
                                    <td width="200">&nbsp;</td>
                                </tr>
                            </table>

                            <table cellpadding="0" cellspacing="0" border="0" align="center" style="border-left: 1px solid #ddd; border-right: 1px solid #ddd;" width="600">
                                <tr>
                                    <td width="100%" colspan="3" align="center" style="padding-bottom:0px;  font-weight: bold; padding-top: 0px;font-size: 25px;">
                                        <h3 style=" font-weight: 500;margin: 0;">Verify your email address</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">&nbsp;</td>
                                    <td width="400" align="center" style="padding-bottom:5px;line-height: 24px;">
                                        Thanks for verifying your tutioncloud.noreply@gmail.com account!
                                    </td>
                                    <td width="100">&nbsp;</td>
                                </tr>
                            </table>
                            <table cellpadding="4" cellspacing="0" border="0" align="center" style="border-left: 1px solid #ddd; border-right: 1px solid #ddd;" width="600">
                                <tr>
                                    <td width="100">&nbsp;</td>
                                    <td width="400" align="center" style="padding-top:30px;padding-bottom:30px;">
                                        <strong>
                                            <span style="color:#FFF; background-color: #3a569d;text-decoration: none;border-radius:4px;width:200px; height:50px;display: block;vertical-align: middle;line-height: 48px; font-size:18px;"> verificationCode </span>
                                        </strong>
                                    </td>
                                    <td width="100">&nbsp;</td>
                                </tr>
                            </table>

                            <table cellpadding="0" cellspacing="0" border="0" align="center" style="border: 1px solid #ddd; background-color: #dddddd3b; border-top:0;" width="600">
                                <tr>
                                    <td width="60%" height="70" valign="middle" style="padding: 0px 15px 10px;line-height: 22px;font-size: 14px;">
                                        www.tuitioncloud.com
                                    </td>
                                    <td width="40%" height="70" align="right" valign="top" align='right' style="padding: 5px 15px 10px;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align='right'>
                                            <tr>
                                                <td width='57%'></td>
                                                <td valign="top" width='30' style="padding-top: 10px;">
                                                    <img src="http://202.191.65.67:4139/email-Template/images/facebook.png" data-default="placeholder" data-max-width="30" width='30' height='30' alt='facebook' data-customicon="true" />
                                                </td>
                                                <td valign="top" width='30' style="padding-top: 10px;">
                                                    <img src="http://202.191.65.67:4139/email-Template/images/twitter.png" data-default="placeholder" data-max-width="30" width='30' height='30' alt='twitter' data-customicon="true" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" colspan="2" style="text-align: center; padding: 15px 15px;  font-size: 14px;">
                                        Copyright © 2019 Tuition Cloud.com
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>
                <!-- END BODY -->

            </td>
        </tr>
    </table>
    <!-- End of wrapper table -->
</body>
</html>

