﻿
@{
    ViewBag.Title = "Forgotpassword";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
}

<h2>Forgotpassword</h2>
<section>
    <div class="wraper headerPost">
        <div class="container">
            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-12 ">
                    <div class="logo">
                        <div class="Lgo">
                            <a href="index.html">
                                <img src="img/logo.png" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12">
                    <!-- Navigation -->
                    <nav class="navbar navbar-expand-md">
                        <button class="navbar-toggler Toggbtn" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="topLinks-header text-center">
                                <li><a href="index.html">HOME</a></li>
                                <li><a href="#">ABOUT</a></li>
                                <li><a href="#">NEWS</a></li>
                                <li><a href="#">CONTACT</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-12 Signup_list ">
                    <ul class="topLinks-header text-center">
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
