﻿
@{
    ViewBag.Title = "CreateaNewTesttoShare";
    Layout = "~/Views/Shared/_Layout_Wordutopia_Home.cshtml";
}


<section class="viewing-lst">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-12">
                <div class="my-share">
                    <h6>Create a New Test and Share</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12">
                <div class="form-group Srch1  ">
                    <label for="Name">Search By Word Name:</label>
                    <div class="Srchbx">
                        <input type="text" class="form-control">
                        <button>SEARCH</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="newdrpn newtest">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary " data-toggle="dropdown">Task Dropdown List <img src="~/Content/img/rightarrow.png" /></button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Back</a>
                            <a class="dropdown-item" href="#">Set Test Format</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="ShareTab">
                    <div class="SelectAll">
                        <p>Number of words selected: 4</p>
                        <span class="all">Select All</span><input type="checkbox">
                    </div>
                    <div class="testtable">
                        <div class="Table FAVTAB">
                            <table class="table table-hover newTable table-bordered">
                                <tbody>
                                    <tr>
                                <thead>
                                <th class="tabhead">Select</th>
                                <th class="tabhead"> Word</th>
                                <th class="tabhead">Overall % Score</th>
                                </thead>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td><strong>Magnificent</strong></td>
                                    <td>79%</td>
                                </tr>

                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td><strong>Magnificent</strong></td>
                                    <td>86%</td>
                                </tr>

                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td><strong>Magnificent</strong></td>
                                    <td>79%</td>
                                </tr>

                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td><strong>Magnificent</strong></td>
                                    <td>89%</td>
                                </tr>

                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td><strong>Magnificent</strong></td>
                                    <td>70%</td>
                                </tr>

                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td><strong>Magnificent</strong></td>
                                    <td>99%</td>
                                </tr>

                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td><strong>Magnificent</strong></td>
                                    <td>79%</td>
                                </tr>

                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td><strong>Magnificent</strong></td>
                                    <td>79%</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td><strong>Magnificent</strong></td>
                                    <td>79%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="Indctor">
                            <p>Page 1 of 1</p>
                        </div>
                        <div class="Pgntation">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 testacc">
                <div class="outAccordtn fav_out">
                    <div id="accordion">
                        <div class="card">
                            <div class="accordhead">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Database Word
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    Exactitude
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="accordhead">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Pronounced
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    exact, -i-, -tude
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="accordhead">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Phrase
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    Characterized by grandeur
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="accordhead">
                                <div class="card-header" id="headingfour">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
                                            Hint
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapsefour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    mag'ni - fi - sunt
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="accordhead">
                                <div class="card-header" id="headingfive">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
                                            Definition
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapsefive" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body lastAccord">
                                    magnificent
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="lowerNav">
            <nav class="navbar navbar-expand-sm  justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="https://en.wikipedia.org/wiki/Main.page" target="_blank">Wikipedia</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.xnumber.com/xnumber/windows_calc.htm" target="_blank">Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.google.com/maps/" target="_blank">Maps</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.xe.com/currencyconverter/" target="_blank">Currency Converter</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.timeanddate.com/worldclock/full.html" target="_blank">World Clocks</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://translate.google.com" target="_blank">Translator</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>


