﻿
@{
    ViewBag.Title = "OnlineCommunity";
    Layout = "~/Views/Shared/_Layout_Wordutopia_Home.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="heading_share">
                    <h6>Share Words List & Tests</h6>
                </div>
                <div class="TstSHare">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="innerleft">
                                <img src="~/Content/img/folderplus.jpg" /><a href="/OnlineCommunity/CreateaWordListToShare/" class="Share_action">Create a Word List To Share</a>
                            </div>
                            <div class="innerleft">
                                <img src="~/Content/img/folderShare.jpg" /><a href="/OnlineCommunity/WordListSharedbyMe/" class="Share_action">Word List Shared by Me</a>
                            </div>
                            <div class="innerleft">
                                <img src="~/Content/img/folderShare.jpg" /><a href="/OnlineCommunity/WordListSharedwithMe/" class="Share_action">Word List Shared with Me</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="innerShare">
                                <img src="~/Content/img/shareicon.jpg" /><a href="/OnlineCommunity/CreateaNewTesttoShare/" class="Share_action">Create a New Test to Share</a>
                            </div>
                            <div class="innerShare">
                                <img src="~/Content/img/shareicon.jpg" /><a href="/OnlineCommunity/ShareanArchivedTest/" class="Share_action">Share an Archived Test</a>
                            </div>
                            <div class="innerShare">
                                <img src="~/Content/img/shareicon.jpg" /><a href="/OnlineCommunity/TestSharedbyMe/" class="Share_action">Test Shared by Me</a>
                            </div>
                            <div class="innerShare">
                                <img src="~/Content/img/shareicon.jpg" /><a href="/OnlineCommunity/TestSharedWithMe/" class="Share_action">Test Shared With Me</a>
                            </div>
                            <div class="innerShare">
                                <img src="~/Content/img/shareicon.jpg" /><a href="/OnlineCommunity/ManageSharedTestStats/" class="Share_action">Manage Shared Test Stats</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

