﻿
@{
    ViewBag.Title = "TestSharedWithMe";
    Layout = "~/Views/Shared/_Layout_Wordutopia_Home.cshtml";
}


<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="ShareHead">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="my-share">
                                <h6>Test Shared with Me</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="newdrpn">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-primary " data-toggle="dropdown">Task Dropdown List <img src="~/Content/img/rightarrow.png" /></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ShareTab">
                    <div class="with-me">
                        <table class="table table-hover newTable table-bordered">
                            <tbody>
                                <tr>
                            <thead>
                            <th class="tabhead">Select</th>
                            <th class="tabhead"> Date & Time of Tests</th>
                            <th class="tabhead">Options</th>
                            </thead>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><strong>25/12/2019 <span class="spc-Date"></span> 9:00am</strong></td>
                                <td class="toggle_dropdown_cust">
                                    <div class="web-dsp">
                                        <span class="edts"><a href="#">View</a></span>
                                        <span class="ck_brd">|</span>
                                        <span class="edts"><a href="#"><i class="fas fa-trash-alt"></i> Delete</a></span>
                                    </div>
                                    <div class="togButns attachmts">
                                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu labes" aria-labelledby="dropdownMenuButton">
                                            <span class="edts"><a href="#">View</a></span>
                                            <span class="ck_brd">|</span>
                                            <span class="edts"><a href="#"> Delete</a></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><input type="checkbox"></td>
                                <td><strong>25/12/2019 <span class="spc-Date"></span> 9:00am</strong></td>
                                <td class="toggle_dropdown_cust">
                                    <div class="web-dsp">
                                        <span class="edts"><a href="#">View</a></span>
                                        <span class="ck_brd">|</span>
                                        <span class="edts"><a href="#"><i class="fas fa-trash-alt"></i> Delete</a></span>
                                    </div>
                                    <div class="togButns attachmts">
                                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu labes" aria-labelledby="dropdownMenuButton">
                                            <span class="edts"><a href="#">View</a></span>
                                            <span class="ck_brd">|</span>
                                            <span class="edts"><a href="#"> Delete</a></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><input type="checkbox"></td>
                                <td><strong>25/12/2019 <span class="spc-Date"></span> 9:00am</strong></td>
                                <td class="toggle_dropdown_cust">
                                    <div class="web-dsp">
                                        <span class="edts"><a href="#">View</a></span>
                                        <span class="ck_brd">|</span>
                                        <span class="edts"><a href="#"><i class="fas fa-trash-alt"></i> Delete</a></span>
                                    </div>
                                    <div class="togButns attachmts">
                                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu labes" aria-labelledby="dropdownMenuButton">
                                            <span class="edts"><a href="#">View</a></span>
                                            <span class="ck_brd">|</span>
                                            <span class="edts"><a href="#"> Delete</a></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><input type="checkbox"></td>
                                <td><strong>25/12/2019 <span class="spc-Date"></span> 9:00am</strong></td>
                                <td class="toggle_dropdown_cust">
                                    <div class="web-dsp">
                                        <span class="edts"><a href="#">View</a></span>
                                        <span class="ck_brd">|</span>
                                        <span class="edts"><a href="#"><i class="fas fa-trash-alt"></i> Delete</a></span>
                                    </div>
                                    <div class="togButns attachmts">
                                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu labes" aria-labelledby="dropdownMenuButton">
                                            <span class="edts"><a href="#">View</a></span>
                                            <span class="ck_brd">|</span>
                                            <span class="edts"><a href="#"> Delete</a></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><input type="checkbox"></td>
                                <td><strong>25/12/2019 <span class="spc-Date"></span> 9:00am</strong></td>
                                <td class="toggle_dropdown_cust">
                                    <div class="web-dsp">
                                        <span class="edts"><a href="#">View</a></span>
                                        <span class="ck_brd">|</span>
                                        <span class="edts"><a href="#"><i class="fas fa-trash-alt"></i> Delete</a></span>
                                    </div>
                                    <div class="togButns attachmts">
                                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu labes" aria-labelledby="dropdownMenuButton">
                                            <span class="edts"><a href="#">View</a></span>
                                            <span class="ck_brd">|</span>
                                            <span class="edts"><a href="#"> Delete</a></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><input type="checkbox"></td>
                                <td><strong>25/12/2019 <span class="spc-Date"></span> 9:00am</strong></td>
                                <td class="toggle_dropdown_cust">
                                    <div class="web-dsp">
                                        <span class="edts"><a href="#">View</a></span>
                                        <span class="ck_brd">|</span>
                                        <span class="edts"><a href="#"><i class="fas fa-trash-alt"></i> Delete</a></span>
                                    </div>
                                    <div class="togButns attachmts">
                                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu labes" aria-labelledby="dropdownMenuButton">
                                            <span class="edts"><a href="#">View</a></span>
                                            <span class="ck_brd">|</span>
                                            <span class="edts"><a href="#"> Delete</a></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><input type="checkbox"></td>
                                <td><strong>25/12/2019 <span class="spc-Date"></span> 9:00am</strong></td>
                                <td class="toggle_dropdown_cust">
                                    <div class="web-dsp">
                                        <span class="edts"><a href="#">View</a></span>
                                        <span class="ck_brd">|</span>
                                        <span class="edts"><a href="#"><i class="fas fa-trash-alt"></i> Delete</a></span>
                                    </div>
                                    <div class="togButns attachmts">
                                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu labes" aria-labelledby="dropdownMenuButton">
                                            <span class="edts"><a href="#">View</a></span>
                                            <span class="ck_brd">|</span>
                                            <span class="edts"><a href="#"> Delete</a></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><input type="checkbox"></td>
                                <td><strong>25/12/2019 <span class="spc-Date"></span> 9:00am</strong></td>
                                <td class="toggle_dropdown_cust">
                                    <div class="web-dsp">
                                        <span class="edts"><a href="#">View</a></span>
                                        <span class="ck_brd">|</span>
                                        <span class="edts"><a href="#"><i class="fas fa-trash-alt"></i> Delete</a></span>
                                    </div>
                                    <div class="togButns attachmts">
                                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu labes" aria-labelledby="dropdownMenuButton">
                                            <span class="edts"><a href="#">View</a></span>
                                            <span class="ck_brd">|</span>
                                            <span class="edts"><a href="#"> Delete</a></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><strong>25/12/2019 <span class="spc-Date"></span> 9:00am</strong></td>
                                <td class="toggle_dropdown_cust">
                                    <div class="web-dsp">
                                        <span class="edts"><a href="#">View</a></span>
                                        <span class="ck_brd">|</span>
                                        <span class="edts"><a href="#"><i class="fas fa-trash-alt"></i> Delete</a></span>
                                    </div>
                                    <div class="togButns attachmts">
                                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu labes" aria-labelledby="dropdownMenuButton">
                                            <span class="edts"><a href="#">View</a></span>
                                            <span class="ck_brd">|</span>
                                            <span class="edts"><a href="#"> Delete</a></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="Indctor">
                            <p>Page 1 of 1</p>
                        </div>
                        <div class="Pgntation">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="wraper sharing-me ">
                    <div class="ShareForm wraper share-with-me">
                        <form>
                            <div class="form-group wraper">
                                <label class="checkbox-inline Label">
                                    * Enter Password to View this Word List
                                </label>
                            </div>
                            <div class="form-group wraper">
                                <input type="password" class="form-control Input" placeholder="a820a7de-c">
                                <label for="password" class="Inputlabel">Password</label>
                            </div>
                            <div class="form-group wraper">
                                <input type="text" class="form-control Input" placeholder="126">
                                <label class="Inputlabel">Test ID</label>
                            </div>
                            <div class="form-group wraper">
                                <input type="text" class="form-control Input" placeholder="List i told you about yesterday">
                                <label class="Inputlabel">Word List Name</label>
                            </div>
                            <div class="form-group wraper Send">
                                <div class="Srchbx">
                                    <button>Activate</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="lowerNav">
            <nav class="navbar navbar-expand-sm  justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="https://en.wikipedia.org/wiki/Main.page" target="_blank">Wikipedia</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.xnumber.com/xnumber/windows_calc.htm" target="_blank">Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.google.com/maps/" target="_blank">Maps</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.xe.com/currencyconverter/" target="_blank">Currency Converter</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.timeanddate.com/worldclock/full.html" target="_blank">World Clocks</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://translate.google.com" target="_blank">Translator</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>


