﻿@model TutionCloudWeb.Models.PostModel.OnlineCommunity.WordClass

@{
    ViewBag.Title = "WordListSharedwithMe";
    Layout = "~/Views/Shared/_Layout_Wordutopia_Home.cshtml";
    var totalWordCount = Model.totalWordCount;
}

@Html.HiddenFor(z => z.userId, new { Value = Model.userId })
@Html.HiddenFor(z => z.totalWordCount, new { Value = Model.totalWordCount })
<input type="hidden" id="hfn-index" value="0" />
<input type="hidden" id="hfn-sortby" value="" />
<input type="hidden" id="hfn-sortorder" value="" />

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="ShareHead">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="my-share">
                                <h6>Word List Shared with Me</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="newdrpn">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-primary " data-toggle="dropdown">Task Dropdown List <img src="~/Content/img/rightarrow.png" /></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ShareTab">
                    <div class="with-me">
                        <table class="table table-hover newTable table-bordered">
                                                          
                            <thead>
                            <th class="tabhead">Select</th>
                            <th class="tabhead"> Date & Time of Tests</th>
                            <th class="tabhead">Options</th>
                            </thead>
                            <tbody id="tbody-wordlist">
                                @{
                                    var postModel = new TutionCloudWeb.Models.PostModel.OnlineCommunity.WordList();
                                    postModel.userId = Model.userId;
                                    postModel.index = 0;
                                    postModel.totalWordCount = totalWordCount;
                                    postModel.searchText = string.Empty;
                                    postModel.sortBy = string.Empty;
                                    postModel.sortOrder = string.Empty;
                                    postModel.wordIds = "";
                                }
                                @Html.Partial("~/Views/OnlineCommunity/_pv_OnlineCommunity_WordListSharedwithMe.cshtml", postModel)
                            </tbody>
                        </table>

                        <div class="Indctor" id="div-page-count">
                            <p>Page 1 of @Convert.ToString(Math.Ceiling(Convert.ToDouble(Convert.ToDouble(totalWordCount) / Convert.ToDouble(10))))</p>
                        </div>
                        <div class="Pgntation">
                            <nav aria-label="Page navigation example" id="nav-pagination">
                                @{
                                    var postModelPagination = new TutionCloudWeb.Models.PostModel.OnlineCommunity.WordListPagination();
                                    postModelPagination.userId = Model.userId;
                                    postModelPagination.index = 1;
                                    postModelPagination.totalWordCount = totalWordCount;
                                    postModelPagination.searchText = string.Empty;
                                    postModelPagination.sortBy = string.Empty;
                                    postModelPagination.sortOrder = string.Empty;
                                }
                                @Html.Partial("~/Views/Wordutopia/_pv_OnlineCommunity_Word_List_Pagination.cshtml", postModelPagination)
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="wraper sharing-me ">
                    <div class="ShareForm wraper share-with-me">
                        <form>
                            <div class="form-group wraper">
                                <label class="checkbox-inline Label">
                                    * Enter Password to View this Word List
                                </label>
                            </div>
                            <div class="form-group wraper">
                                <input type="password" class="form-control Input" placeholder="a820a7de-c">
                                <label for="password" class="Inputlabel">Password</label>
                            </div>
                            <div class="form-group wraper">
                                <input type="text" class="form-control Input" placeholder="126">
                                <label class="Inputlabel">Test ID</label>
                            </div>
                            <div class="form-group wraper">
                                <input type="text" class="form-control Input" placeholder="List i told you about yesterday">
                                <label class="Inputlabel">Word List Name</label>
                            </div>
                            <div class="form-group wraper Send">
                                <div class="Srchbx">
                                    <button>Activate</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="lowerNav">
            <nav class="navbar navbar-expand-sm  justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="https://en.wikipedia.org/wiki/Main.page" target="_blank">Wikipedia</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.xnumber.com/xnumber/windows_calc.htm" target="_blank">Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.google.com/maps/" target="_blank">Maps</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.xe.com/currencyconverter/" target="_blank">Currency Converter</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.timeanddate.com/worldclock/full.html" target="_blank">World Clocks</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://translate.google.com" target="_blank">Translator</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>


